<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional tests on Selenium">
	
	<test name="When user at register account page">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserAtRegisterAccountPage" />
		</classes>
	</test>
	
	<test name="When user at auth page">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserAtAuthPage" />
		</classes>
	</test>
	
	<test name="When user at activate account page">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserAtActivateAccountPage" />
		</classes>
	</test>
	
	<test name="When user add series">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserAddSeries" />
		</classes>
	</test>
	
	<test name="When any user at any page">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenAnyUserAtAnyPage" />
		</classes>
	</test>
	
	<test name="When anonymous user authenticates">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenAnonymousUserAuthenticates" />
		</classes>
	</test>
	
	<test name="When user logs out">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserLogsOut" />
		</classes>
	</test>
	
	<test name="When anonymous user open not existing page">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenAnonymousUserOpenNotExistingPage" />
		</classes>
	</test>
	
	<test name="When anonymous user at forbidden page">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenAnonymousUserAtForbiddenPage" />
		</classes>
	</test>
	
	<test name="When anonymous user register account">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenAnonymousUserRegisterAccount" />
		</classes>
	</test>
	
	<test name="When anonymous user open not existing collection page">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenAnonymousUserOpenNotExistingCollectionPage" />
		</classes>
	</test>
	
</suite>
