<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional tests on Selenium">
	
	<test name="When user add series">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserAddSeries" />
		</classes>
	</test>
	
	<test name="When any user at any page">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenAnyUserAtAnyPage" />
		</classes>
	</test>
	
	<test name="When user logs out">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserLogsOut" />
		</classes>
	</test>
	
	<test name="When anonymous user open not existing page">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenAnonymousUserOpenNotExistingPage" />
		</classes>
	</test>
	
	<test name="When anonymous user register account">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenAnonymousUserRegisterAccount" />
		</classes>
	</test>
	
</suite>
