<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional tests on Selenium">
	
	<test name="When authenticated user register account">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenAuthenticatedUserRegisterAccount" />
		</classes>
	</test>
	
	<test name="When authenticated user try to authenticates">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenAuthenticatedUserTryToAuthenticates" />
		</classes>
	</test>
	
	<test name="When user activate account">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserActivateAccount" />
		</classes>
	</test>
	
	<test name="When user add country">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserAddCountry" />
		</classes>
	</test>
	
	<test name="When user add series">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserAddSeries" />
		</classes>
	</test>
	
	<test name="When user at any page">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserAtAnyPage" />
		</classes>
	</test>
	
	<test name="When user at any page with form">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserAtAnyPageWithForm" />
		</classes>
	</test>
	
	<test name="When user at index page">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserAtIndexPage" />
		</classes>
	</test>
	
	<test name="When user authenticates">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserAuthenticates" />
		</classes>
	</test>
	
	<test name="When user logs out">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserLogsOut" />
		</classes>
	</test>
	
	<test name="When user open not existing page">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserOpenNotExistingPage" />
		</classes>
	</test>
	
	<test name="When user recovery password">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserRecoveryPassword" />
		</classes>
	</test>
	
	<test name="When user register account">
		<classes>
			<class name="ru.mystamps.web.tests.cases.WhenUserRegisterAccount" />
		</classes>
	</test>
	
</suite>
