<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title th:text="#{t_500_title}">500: internal server error</title>
		<link rel="shortcut icon" type="image/x-icon" href="../../../favicon.ico" th:href="${FAVICON_ICO}" />
		<link rel="stylesheet" href="http://yandex.st/bootstrap/2.3.1/css/bootstrap.min.css" th:href="${BOOTSTRAP_CSS}" />
		<link rel="stylesheet" href="http://yandex.st/bootstrap/2.3.1/css/bootstrap-responsive.min.css" th:href="${BOOTSTRAP_RESPONSIVE_CSS}" />
		<link rel="stylesheet" href="../../static/styles/main.css" th:href="${MAIN_CSS}" />
	</head>
	<body lang="en" th:lang="${#locale.language == 'ru' ? 'ru' : 'en'}">
		<div class="row-fluid" id="header">
			<div id="logo" class="span10">
				<a href="../site/index.html" th:href="'/'" th:text="#{t_my_stamps}">My stamps</a>
			</div>
			
			<div id="user_bar" class="span2">
				<ul class="unstyled">
					<!--/*/
					<li sec:authorize="isAuthenticated()">
						<i class="icon-user"></i>
						<a sec:authentication="principal.user.name"
							href="../collection/info.html"
							title="Open my collection"
							th:title="#{t_open_my_collection}"
							th:href="@{${INFO_COLLECTION_PAGE}(id=${#authentication.principal.user.collection.id})}">
							John Doe
						</a>
					</li>
					/*/-->
					<li sec:authorize="isAnonymous()">
						<a href="../account/auth.html" th:href="@{${AUTHENTICATION_PAGE}}" th:text="#{t_enter}">Sign in</a>
					</li>
					<!--/*/
					<li sec:authorize="isAuthenticated()">
						<i class="icon-share"></i>
						<a href="../site/index.html" th:href="@{${LOGOUT_PAGE}}" th:text="#{t_logout}">Sign out</a>
					</li>
					/*/-->
					<li sec:authorize="isAnonymous()">
						<a href="../account/register.html" th:href="@{${REGISTRATION_PAGE}}" th:text="#{t_register}">Register</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="row-fluid text-center">
			<div id="content" class="span12">
				<h1 id="error-code">
					500
				</h1>
				<h4 id="error-msg" th:utext="#{t_500_description('&lt;br /&gt;')}">
					Internal<br />server error
				</h4>
			</div>
		</div>
		
		<div class="row-fluid">
			<footer class="text-right">
				<i class="icon-envelope"></i>
				<a href="mailto:slava.semushin@gmail.com" title="Write e-mail" th:href="|mailto:#{t_site_author_email}|" th:title="#{t_write_email}" th:text="#{t_site_author_name}">Slava Semushin</a>, 2009-2014
			</footer>
		</div>
		
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="http://yandex.st/bootstrap/2.3.1/js/bootstrap.min.js" th:src="${BOOTSTRAP_JS}"></script>
	</body>
</html>
