dist: xenial
language: java

env:
  matrix:
    - SPRING_PROFILES_ACTIVE=test
    - SPRING_PROFILES_ACTIVE=travis
    - SPRING_PROFILES_ACTIVE=postgres
  global:
    - MAVEN_OPTS='-Xss256k'
   #- secure: "fBav56BzY+A+Vs1g9YSfo1oLDCO1rFrXl49lJkOA5/XpnsKEEs4lI2RcOzz0wiJKXFNgcliiAJWoYMI8Esqz+lkyFWan4ij5Co0UzJcytDuY+2o+jaqwx45DuDYPogABzT+hWjLCxQLLG46gUkChzT8kcvOOn6JxC7Ff8q5MnoM="

# @todo #1054 Ensure all integration tests to pass on PostgreSQL
jobs:
  allow_failures:
    - env: SPRING_PROFILES_ACTIVE=postgres

# @todo #1054 Unify PostgreSQL version/configuration between Travis and docker-compose
# set -e is needed to fail fast. See https://github.com/travis-ci/travis-ci/issues/10480
before_script:
  - set -e;
    if [ "$SPRING_PROFILES_ACTIVE" = 'travis' ]; then
      mysql -u root -e 'CREATE DATABASE mystamps CHARACTER SET utf8;';
      mkdir -p /tmp/uploads /tmp/preview;
      cp src/main/resources/test/test.png /tmp/uploads/1.png;
      npm install -g bootlint;
      pip install --user html5validator robotframework-lint ansible==2.1.1.0 ansible-lint;
      if [ "$TRAVIS_PULL_REQUEST" != 'false' ]; then
        gem install danger nokogiri --no-ri --no-rdoc;
      fi;
      sudo apt-get -qq update;
      sudo apt-get install -y shellcheck;
    elif [ "$SPRING_PROFILES_ACTIVE" = 'postgres' ]; then
      psql -U postgres -c 'create database mystamps;';
    fi

script:
  - if [ "$SPRING_PROFILES_ACTIVE" = 'travis' ]; then
      ./src/main/scripts/ci/check-build-and-verify.sh;
    else
      ./src/main/scripts/ci/check-build-and-verify.sh --only-integration-tests;
    fi
  # Travis CI may miss a part of the huge output if we'll exit immediately
  # See: https://github.com/travis-ci/travis-ci/issues/6018
  - sleep 5

after_failure:
  # In order to be able debug robot framework test flakes we need to have a report.
  # We encode it to a bzipped binary form and dump to console. It can be
  # examined later with the following commands:
  #
  # $ curl -s https://api.travis-ci.org/v3/job/$JOB_ID/log.txt | sed -n '/^===== REPORT START/,/^===== REPORT END/p' | sed -e 1d -e '$d' -e 's/\r$//' | base64 -d | bzip2 -dc >target/robotframework-reports/output.xml
  # $ ./mvnw robotframework:rebot
  # $ open target/robotframework-reports/report.html
  #
  - if fgrep -qs 'status="FAIL"' target/robotframework-reports/output.xml; then
      echo '===== REPORT START =====';
      bzip2 <target/robotframework-reports/output.xml | base64;
      echo '===== REPORT END =====';
      sleep 5;
    fi

after_success:
  - if [ "$SPRING_PROFILES_ACTIVE" = 'travis' ]; then
      ./src/main/scripts/show-spring-boot-version-diff.sh;
    fi

deploy:
  provider: script
  script: ./src/main/scripts/ci/deploy.sh
  on:
    branch: prod
    condition: '"$SPRING_PROFILES_ACTIVE" = "travis" && "$TRAVIS_PULL_REQUEST" = "false"'
  skip_cleanup: true

jdk:
  - openjdk8

cache:
  directories:
  - $HOME/.m2

services:
  - mysql
  - postgresql

branches:
  except:
  - /^(re|old)_.*$/

notifications:
  email:
    on_success: always # default: change
    on_failure: always # default: always

# We don't want to run `mvn install -DskipTests=true` for downloading project's dependencies
install: true
