language: java

env:
  matrix:
    - SPRING_PROFILES_ACTIVE=test
    - SPRING_PROFILES_ACTIVE=travis

before_script:
  - if [ "$SPRING_PROFILES_ACTIVE" = 'travis' ]; then
      mysql -u travis -e 'CREATE DATABASE mystamps CHARACTER SET utf8;';
    else
      npm install -g bootlint;
      pip install --user html5validator;
    fi

script:
  - if [ "$SPRING_PROFILES_ACTIVE" = 'travis' ]; then
      ./src/main/scripts/ci/check-build-and-verify.sh --only-integration-tests;
    else
      ./src/main/scripts/ci/check-build-and-verify.sh;
    fi

after_success:
  - if [ "$TRAVIS_BRANCH" = 'master' -a "$TRAVIS_PULL_REQUEST" = 'false' -a "$SPRING_PROFILES_ACTIVE" = 'test' ]; then
      ./src/main/scripts/ci/publish-code-coverage.sh;
    fi

jdk:
  - oraclejdk8

services:
  - mysql

branches:
  except:
  - /^(re|old)_.*$/

notifications:
  email:
    on_success: always # default: change
    on_failure: always # default: always

# We don't want to run `mvn install -DskipTests=true` for downloading project's dependencies
install: true
