<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language == 'ru' ? 'ru' : 'en'}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title th:text="|MyStamps: #{t_collection_of(${ownerName})}|">MyStamps: John Doe's collection</title>
		<link rel="shortcut icon" type="image/x-icon" href="../../../favicon.ico" th:href="${FAVICON_ICO}" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" th:href="${BOOTSTRAP_CSS}" />
		<link rel="stylesheet" href="https://cdn.rawgit.com/usrz/bootstrap-languages/3ac2a3d2b27ac43a471cd99e79d378a03b2c6b5f/languages.min.css" th:href="${BOOTSTRAP_LANGUAGE}" />
		<link rel="stylesheet" href="../../static/styles/main.min.css" th:href="${MAIN_CSS}" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="row" id="header">
				<div id="logo" class="col-sm-9 vcenter">
					<a href="../site/index.html" th:href="'/'" th:text="#{t_my_stamps}">My stamps</a>
				</div><!--
				
				--><div class="col-sm-1 vcenter">
					<div class="dropdown">
						<span th:if="${#locale.language == 'en'}" class="lang-xs" lang="en"></span>
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" th:text="#{t_english}" th:if="${#locale.language == 'en'}">
							English
						</a>
						
						<!--/*/
						<span th:if="${#locale.language == 'ru'}" class="lang-xs" lang="ru"></span>
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" th:text="#{t_russian}" th:if="${#locale.language == 'ru'}">
							Russian
						</a>
						/*/-->
						
						<span class="caret"></span>
						<ul class="dropdown-menu">
							<li>
								<div class="dropdown-entry-lang">
									<span th:if="${#locale.language == 'en'}" class="lang-xs" lang="ru"></span>
									<a href="?lang=ru" hreflang="ru" th:text="#{t_russian}" th:if="${#locale.language == 'en'}">Russian</a>
								</div>
							</li>
							<!--/*/
							<li>
								<div class="dropdown-entry-lang">
									<span th:if="${#locale.language == 'ru'}" class="lang-xs" lang="en"></span>
									<a href="?lang=en" hreflang="en" th:text="#{t_english}" th:if="${#locale.language == 'ru'}">English</a>
								</div>
							</li>
							/*/-->
						</ul>
					</div>
				</div><!--
				
				--><div id="user_bar" class="col-sm-2 vcenter">
					<ul class="list-unstyled">
						<!--/*/
						<li sec:authorize="isAuthenticated()">
							<i class="glyphicon glyphicon-user"></i>
							<a sec:authentication="principal.userName"
								href="../collection/info.html"
								title="Open my collection"
								th:title="#{t_open_my_collection}"
								th:href="@{${INFO_COLLECTION_PAGE}(id=${#authentication.principal.userCollectionId},slug=${#authentication.principal.userCollectionSlug})}">
								John Doe
							</a>
						</li>
						/*/-->
						<li sec:authorize="isAnonymous()">
							<a href="../account/auth.html" th:href="@{${AUTHENTICATION_PAGE}}" th:text="#{t_enter}">Sign in</a>
						</li>
						<!--/*/
						<li sec:authorize="isAuthenticated()">
							<form id="LogoutForm" method="get" action="../site/index.html" class="no-margin" th:method="post" th:action="@{${LOGOUT_PAGE}}">
								<i class="glyphicon glyphicon-share"></i>&nbsp;<input type="submit" value="Sign out" class="btn btn-link no-padding" th:value="#{t_logout}" />
							</form>
						</li>
						/*/-->
						<li sec:authorize="isAnonymous()">
							<a href="../account/register.html" th:href="@{${REGISTRATION_PAGE}}" th:text="#{t_register}">Register</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					
					<h3 class="text-center" th:text="#{t_collection_of(${ownerName})}">
						John Doe's collection
					</h3>
					
					<!--/*/
					<div class="row" th:if="${justAddedSeries}">
						<div class="alert alert-success text-center col-sm-4 col-sm-offset-4" th:text="#{t_collection_just_added}">
							Series has been added to your collection
						</div>
					</div>
					/*/-->
					
					<!--/*/
					<div class="row" th:if="${justRemovedSeries}">
						<div class="alert alert-info text-center col-sm-4 col-sm-offset-4" th:text="#{t_collection_just_removed}">
							Series has been removed from your collection
						</div>
					</div>
					/*/-->
					
					<div class="row">
						<div class="col-sm-4">
					
							<!--/*/
							<p th:if="${#lists.isEmpty(seriesOfCollection)}" th:text="#{t_empty_collection}">
								In this collection is no stamps
							</p>
							/*/-->
							
							<ul th:if="${not #lists.isEmpty(seriesOfCollection)}" th:remove="all-but-first">
								<li th:each="series : ${seriesOfCollection}">
									<span th:if="${series.category.id != null}" th:remove="tag">
										<a href="../category/info.html" th:href="@{${INFO_CATEGORY_PAGE}(id=${series.category.id},slug=${series.category.slug})}" th:text="${series.category.name}">Animals</a>&nbsp;&raquo;
									</span>
									
									<span th:if="${series.country.id != null}" th:remove="tag">
										<a href="../country/info.html" th:href="@{${INFO_COUNTRY_PAGE}(id=${series.country.id},slug=${series.country.slug})}" th:text="${series.country.name}">Italy</a>&nbsp;&raquo;
									</span>
									
									<a href="../series/info.html" th:href="@{${INFO_SERIES_PAGE}(id=${series.id})}">
										<span th:remove="tag" th:if="${series.releaseYear != null}" th:text="|${series.releaseYear}, |">1999, </span>
										<span th:remove="tag" th:text="|${series.quantity}&nbsp;#{t_items}|">7&nbsp;item(s)</span>
										<span th:remove="tag" th:if="${not series.perforated}" th:text="|(#{t_wo_perforation_short})|">(without perforation)</span>
									</a>
									<span th:if="${justAddedSeriesId != null and justAddedSeriesId == series.id}" class="label label-success">New</span>
								</li>
								<li>
									<a href="../category/info.html">Animals</a>&nbsp;&raquo;
									
									<a href="../country/info.html">Italy</a>&nbsp;&raquo;
									
									<a href="../series/info.html">
										22&nbsp;item(s)
									</a>
								</li>
								<li>
									<a href="../category/info.html">Animals</a>&nbsp;&raquo;
									
									<a href="../country/info.html">Italy</a>&nbsp;&raquo;
									
									<a href="../series/info.html">
										1983, 5&nbsp;item(s)
									</a>
								</li>
							</ul>
						</div>
						<div class="col-sm-2">
							<!--/*/
							<th:block togglz:active="SHOW_COLLECTION_STATISTICS" th:if="${not #lists.isEmpty(seriesOfCollection)}">
							/*/-->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title" th:text="#{t_in_collection}">In this collection</h4>
									</div>
									<div class="panel-body">
										<p th:text="|#{t_categories_amount}: ${categoryCounter}|">Amount of categories: 1</p>
										<p th:text="|#{t_countries_amount}: ${countryCounter}|">Amount of countries: 1</p>
										<p th:text="|#{t_series_amount}: ${seriesCounter}|">Amount of series: 3</p>
										<p th:text="|#{t_stamps_amount}: ${stampsCounter}|">Amount of stamps: 34</p>
									</div>
								</div>
							<!--/*/
							</th:block>
							/*/-->
						</div>
						<div class="col-sm-3">
							<div class="panel panel-default" togglz:active="SHOW_COLLECTION_CHARTS" th:if="${not #lists.isEmpty(seriesOfCollection)}">
								<div class="panel-heading">
									<h4 class="panel-title" th:text="#{t_stamps_by_countries}">Stamps by countries</h4>
								</div>
								<div id="countries-chart" class="panel-body no-padding"></div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="panel panel-default" togglz:active="SHOW_COLLECTION_CHARTS" th:if="${not #lists.isEmpty(seriesOfCollection)}">
								<div class="panel-heading">
									<h4 class="panel-title" th:text="#{t_stamps_by_categories}">Stamps by categories</h4>
								</div>
								<div id="categories-chart" class="panel-body no-padding"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<footer class="col-sm-12 text-right">
					<i class="glyphicon glyphicon-envelope"></i>
					<a href="mailto:slava.semushin@gmail.com" title="Write e-mail" th:href="|mailto:#{t_site_author_email}|" th:title="#{t_write_email}" th:text="#{t_site_author_name}">Slava Semushin</a>, 2009-2016
				</footer>
			</div>
		</div>
		
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="http://yandex.st/jquery/1.9.1/jquery.min.js" th:src="${JQUERY_JS}"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" th:src="${BOOTSTRAP_JS}"></script>
		
		<!--/*/
		<th:block togglz:active="SHOW_COLLECTION_CHARTS" th:if="${not #lists.isEmpty(seriesOfCollection)}">
		/*/-->
			<!-- Charts -->
			<script src="https://www.gstatic.com/charts/loader.js"></script>
			<script src="../../../../javascript/collection/info.js" th:src="${COLLECTION_INFO_JS}"></script>
			<script th:inline="javascript">
				/*<![CDATA[*/
				$(function() {
					/*[+
					initPage(
						[[${statOfCollectionByCategories}]],
						[[${statOfCollectionByCountries}]]
					);
					+]*/
					
					/*[- */
					initPage([
						['Animals', 94],
						['Prehistoric animals', 37],
						['Sport', 1]
					], [
						['Russia', 5],
						['USA', 2],
						['Australia', 11],
						['Canada', 3],
						['Germany', 2],
						['China', 1],
						['Congo', 20],
						['Brazil', 4],
						['Korea', 2]
					]);
					/* -]*/
				});
				
				/*]]>*/
			</script>
		<!--/*/
		</th:block>
		/*/-->
	</body>
</html>
