<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title th:text="|MyStamps: #{t_index_title}|">MyStamps: create your own virtual collection!</title>
		<link rel="shortcut icon" type="image/x-icon" href="../../../favicon.ico" th:href="${FAVICON_ICO}" />
		<link rel="stylesheet" href="http://yandex.st/bootstrap/2.3.1/css/bootstrap.min.css" th:href="${BOOTSTRAP_CSS}" />
		<link rel="stylesheet" href="http://yandex.st/bootstrap/2.3.1/css/bootstrap-responsive.min.css" th:href="${BOOTSTRAP_RESPONSIVE_CSS}" />
		<link rel="stylesheet" href="../../static/styles/main.css" th:href="${MAIN_CSS}" />
	</head>
	<body lang="en" th:lang="${#locale.language == 'ru' ? 'ru' : 'en'}">
		<div class="row-fluid" id="header">
			<div id="logo" class="span10">
				<a href="../site/index.html" th:href="'/'" th:text="#{t_my_stamps}">My stamps</a>
			</div>
			
			<div id="user_bar" class="span2">
				<ul class="unstyled">
					<!--/*/
					<li sec:authorize="isAuthenticated()">
						<i class="icon-user"></i>
						<a sec:authentication="principal.user.name"
							href="../collection/info.html"
							title="Open my collection"
							th:title="#{t_open_my_collection}"
							th:href="@{${INFO_COLLECTION_PAGE}(id=${#authentication.principal.user.collection.id},slug=${#authentication.principal.user.collection.slug})}">
							John Doe
						</a>
					</li>
					/*/-->
					<li sec:authorize="isAnonymous()">
						<a href="../account/auth.html" th:href="@{${AUTHENTICATION_PAGE}}" th:text="#{t_enter}">Sign in</a>
					</li>
					<!--/*/
					<li sec:authorize="isAuthenticated()">
						<form id="LogoutForm" method="get" action="../site/index.html" class="no-margin" th:method="post" th:action="@{${LOGOUT_PAGE}}">
							<i class="icon-share"></i>&nbsp;<input type="submit" value="Sign out" class="btn btn-link no-padding" th:value="#{t_logout}" />
						</form>
					</li>
					/*/-->
					<li sec:authorize="isAnonymous()">
						<a href="../account/register.html" th:href="@{${REGISTRATION_PAGE}}" th:text="#{t_register}">Register</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row-fluid">
			<div id="content" class="span12">
				<div class="span3">
					<nav sec:authorize="hasAnyAuthority('CREATE_CATEGORY', 'CREATE_COUNTRY', 'CREATE_SERIES')">
						<p th:text="|#{t_you_may}:|">You may</p>
						<ul>
							<li sec:authorize="hasAuthority('CREATE_SERIES')">
								<a th:href="@{${ADD_SERIES_PAGE}}" th:text="#{t_add_series}" href="../series/add.html">add stamp series</a>
							</li>
							<li sec:authorize="hasAuthority('CREATE_CATEGORY')">
								<a th:href="@{${ADD_CATEGORY_PAGE}}" th:text="#{t_create_category}" href="../category/add.html">add category</a>
							</li>
							<li sec:authorize="hasAuthority('CREATE_COUNTRY')">
								<a th:href="@{${ADD_COUNTRY_PAGE}}" th:text="#{t_add_country}" href="../country/add.html">add country</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="span3">
					<!--/*/
					<th:block togglz:active="SHOW_RECENT_COLLECTIONS_ON_INDEX_PAGE" th:if="${not #lists.isEmpty(recentlyAddedCollections)}">
					/*/-->
						<p>
							<strong th:text="|#{t_recently_added_collections}:|">Recently created collections:</strong>
						</p>
						<div th:remove="all-but-first">
							<p th:each="collection : ${recentlyAddedCollections}">
								<a href="../collection/info.html" th:href="@{${INFO_COLLECTION_PAGE}(id=${collection.id},slug=${collection.slug})}" th:text="${collection.name}">John Doe</a>
							</p>
							<p>
								<a href="../collection/info.html">Edith Roberts</a>
							</p>
							<p>
								<a href="../collection/info.html">Tyler Dean</a>
							</p>
							<p>
								<a href="../collection/info.html">Gwen Schultz</a>
							</p>
						</div>
					<!--/*/
					</th:block>
					/*/-->
				</div>
				<div class="span4">
					<!--/*/
					<th:block togglz:active="SHOW_RECENT_SERIES_ON_INDEX_PAGE">
					/*/-->
						<p>
							<strong th:text="|#{t_recently_added_series}:|">Recently added series:</strong>
						</p>
						<div th:remove="all-but-first">
							<p th:each="series : ${recentlyAddedSeries}">
								<span th:if="${series.category.id != null}" th:remove="tag">
									<a href="../category/info.html" th:href="@{${INFO_CATEGORY_PAGE}(id=${series.category.id},slug=${series.category.slug})}" th:text="${series.category.name}">Animals</a>&nbsp;&raquo;
								</span>
								
								<span th:if="${series.country.id != null}" th:remove="tag">
									<a href="../country/info.html" th:href="@{${INFO_COUNTRY_PAGE}(id=${series.country.id},slug=${series.country.slug})}" th:text="${series.country.name}">Italy</a>&nbsp;&raquo;
								</span>
								
								<a href="../series/info.html" th:href="@{${INFO_SERIES_PAGE}(id=${series.id})}">
									<span th:remove="tag" th:if="${series.releaseYear != null}" th:text="|${series.releaseYear}, |">1999, </span>
									<span th:remove="tag" th:text="|${series.quantity}&nbsp;#{t_items}|">7&nbsp;item(s)</span>
									<span th:remove="tag" th:if="${not series.perforated}" th:text="|(#{t_wo_perforation_short})|">(without perforation)</span>
								</a>
							</p>
							<p>
								<a href="../category/info.html">Animals</a>&nbsp;&raquo;
								<a href="../country/info.html">Italy</a>&nbsp;&raquo;
								<a href="../series/info.html">
									1997, 8&nbsp;item(s)
								</a>
							</p>
							<p>
								<a href="../category/info.html">Animals</a>&nbsp;&raquo;
								<a href="../country/info.html">Italy</a>&nbsp;&raquo;
								<a href="../series/info.html">
									2009, 10&nbsp;item(s)
								</a>
							</p>
							<p>
								<a href="../category/info.html">Animals</a>&nbsp;&raquo;
								<a href="../country/info.html">Italy</a>&nbsp;&raquo;
								<a href="../series/info.html">
									2003, 11&nbsp;item(s)
								</a>
							</p>
							<p>
								<a href="../category/info.html">Animals</a>&nbsp;&raquo;
								<a href="../country/info.html">Italy</a>&nbsp;&raquo;
								<a href="../series/info.html">
									4&nbsp;item(s)
								</a>
							</p>
							<p>
								<a href="../category/info.html">Animals</a>&nbsp;&raquo;
								<a href="../country/info.html">Italy</a>&nbsp;&raquo;
								<a href="../series/info.html">
									2002, 12&nbsp;item(s)
								</a>
							</p>
							<p>
								<a href="../category/info.html">Animals</a>&nbsp;&raquo;
								<a href="../country/info.html">Italy</a>&nbsp;&raquo;
								<a href="../series/info.html">
									1993, 19&nbsp;item(s)
								</a>
							</p>
							<p>
								<a href="../category/info.html">Animals</a>&nbsp;&raquo;
								<a href="../country/info.html">Italy</a>&nbsp;&raquo;
								<a href="../series/info.html">
									4&nbsp;item(s)
								</a>
							</p>
							<p>
								<a href="../category/info.html">Animals</a>&nbsp;&raquo;
								<a href="../country/info.html">Italy</a>&nbsp;&raquo;
								<a href="../series/info.html">
									11&nbsp;item(s) (without perforation)
								</a>
							</p>
							<p>
								<a href="../category/info.html">Animals</a>&nbsp;&raquo;
								<a href="../country/info.html">Italy</a>&nbsp;&raquo;
								<a href="../series/info.html">
									2014, 1&nbsp;item(s)
								</a>
							</p>
							<p>
								<a href="../category/info.html">Animals</a>&nbsp;&raquo;
								<a href="../country/info.html">Italy</a>&nbsp;&raquo;
								<a href="../series/info.html">
									1996, 16&nbsp;item(s) (without perforation)
								</a>
							</p>
						</div>
					<!--/*/
					</th:block>
					/*/-->
				</div>
				<div class="span2">
					<p>
						<strong th:text="|#{t_in_db}:|">In our database:</strong>
					</p>
					<p th:text="|#{t_categories_amount}: ${categoryCounter}|">Amount of categories: 2</p>
					<p th:text="|#{t_countries_amount}: ${countryCounter}|">Amount of countries: 10</p>
					<p th:text="|#{t_series_amount}: ${seriesCounter}|">Amount of series: 22</p>
					<p th:text="|#{t_stamps_amount}: ${stampsCounter}|">Amount of stamps: 84</p>
					<p th:text="|#{t_collections_amount}: ${collectionsCounter}|">Amount of collections: 3</p>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<footer class="text-right">
				<i class="icon-envelope"></i>
				<a href="mailto:slava.semushin@gmail.com" title="Write e-mail" th:href="|mailto:#{t_site_author_email}|" th:title="#{t_write_email}" th:text="#{t_site_author_name}">Slava Semushin</a>, 2009-2015
			</footer>
		</div>
		
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="http://yandex.st/bootstrap/2.3.1/js/bootstrap.min.js" th:src="${BOOTSTRAP_JS}"></script>
	</body>
</html>
