<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language == 'ru' ? 'ru' : 'en'}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title th:text="|#{t_my_stamps}: #{t_index_title}|">My stamps: create your own virtual collection!</title>
		<link rel="shortcut icon" type="image/x-icon" href="../../../favicon.ico" th:href="${FAVICON_ICO}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" th:href="${BOOTSTRAP_CSS}" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/usrz/bootstrap-languages@3ac2a3d2b27ac43a471cd99e79d378a03b2c6b5f/languages.min.css" th:href="${BOOTSTRAP_LANGUAGE}" />
		<link rel="stylesheet" href="../../static/styles/main.css" th:href="${MAIN_CSS}" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="row" id="header">
				<div id="logo" class="col-sm-9 vcenter">
					<a href="../site/index.html" th:href="'/'" th:text="#{t_my_stamps}">My stamps</a>
				</div><!--
				
				--><div class="col-sm-1 vcenter"
						th:with="lang=${#locale.language == 'en' ? 'ru' : 'en'},langName=${#locale.language == 'en' ? 'Русский' : 'English'}">
					<span class="lang-xs" lang="ru"
						th:lang="${lang}"></span>
					<a href="javascript:void(0)" hreflang="ru"
						th:href="|?lang=${lang}|" th:hreflang="${lang}" th:text="${langName}">Русский</a>
				</div><!--
				
				--><div id="user_bar" class="col-sm-2 vcenter">
					<ul class="list-unstyled">
						<!--/*/
						<li sec:authorize="isAuthenticated()">
							<i class="glyphicon glyphicon-user"></i>
							<a sec:authentication="principal.userName"
								href="../collection/info.html"
								title="Open my collection"
								th:title="#{t_open_my_collection}"
								th:href="@{${INFO_COLLECTION_PAGE}(slug=${#authentication.principal.userCollectionSlug})}">
								John Doe
							</a>
						</li>
						/*/-->
						<li sec:authorize="isAnonymous()">
							<a href="../account/auth.html" th:href="@{${AUTHENTICATION_PAGE}}" th:text="#{t_enter}">Sign in</a>
						</li>
						<!--/*/
						<li sec:authorize="isAuthenticated()">
							<form id="logout-form" method="get" action="../site/index.html" class="no-margin" th:method="post" th:action="@{${LOGOUT_PAGE}}">
								<i class="glyphicon glyphicon-share"></i>&nbsp;<input type="submit" value="Sign out" class="btn btn-link no-padding" th:value="#{t_logout}" />
							</form>
						</li>
						/*/-->
						<li sec:authorize="isAnonymous()">
							<a href="../account/register.html" th:href="@{${REGISTRATION_PAGE}}" th:text="#{t_register}">Register</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row" id="content">
				<div class="col-sm-3">
					<nav>
						<p th:text="|#{t_you_may}:|">You may:</p>
						<ul>
							<li>
								<a th:href="@{${GET_CATEGORIES_PAGE}}" th:text="#{t_show_categories_list}" href="../category/list.html">show list of categories</a>
							</li>
							<li>
								<a th:href="@{${GET_COUNTRIES_PAGE}}" th:text="#{t_show_countries_list}" href="../country/list.html">show list of countries</a>
							</li>
							<li sec:authorize="hasAuthority('IMPORT_SERIES')">
								<a th:href="@{${LIST_IMPORT_REQUESTS_PAGE}}" th:text="#{t_show_import_requests_list}" href="../series/import/list.html">show list of import requests</a>
							</li>
							<li sec:authorize="hasAuthority('CREATE_SERIES')">
								<a th:href="@{${ADD_SERIES_PAGE}}" th:text="#{t_add_series}" href="../series/add.html">add a stamp series</a>
							</li>
							<li sec:authorize="hasAuthority('IMPORT_SERIES')">
								<a th:href="@{${REQUEST_IMPORT_SERIES_PAGE}}" th:text="#{t_import_series}" href="../series/import/request.html">import a series</a>
							</li>
							<li sec:authorize="hasAuthority('CREATE_CATEGORY')">
								<a th:href="@{${ADD_CATEGORY_PAGE}}" th:text="#{t_create_category}" href="../category/add.html">add a category</a>
							</li>
							<li sec:authorize="hasAuthority('CREATE_COUNTRY')">
								<a th:href="@{${ADD_COUNTRY_PAGE}}" th:text="#{t_add_country}" href="../country/add.html">add a country</a>
							</li>
							<li sec:authorize="hasAuthority('ADD_PARTICIPANT')">
								<a th:href="@{${ADD_PARTICIPANT_PAGE}}" th:text="#{t_add_buyer_seller}" href="../participant/add.html">add buyer/seller</a>
							</li>
							<li sec:authorize="hasAuthority('VIEW_SITE_EVENTS')">
								<a th:href="@{${SITE_EVENTS_PAGE}}" th:text="#{t_view_suspicious_activities}" href="events.html">view suspicious activities</a>
							</li>
							<li sec:authorize="hasAuthority('VIEW_DAILY_STATS')">
								<a th:href="@{${DAILY_STATISTICS}}" th:text="#{t_view_daily_statistics}" href="javascript:void(0)">view daily statistics</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-sm-3">
					<div class="panel panel-default" th:if="${not #lists.isEmpty(recentlyAddedCollections)}">
						<div class="panel-heading">
							<h4 class="panel-title" th:text="#{t_recently_added_collections}">Recently created collections</h4>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled" th:remove="all-but-first">
								<li th:each="collection : ${recentlyAddedCollections}">
									<a href="../collection/info.html" th:href="@{${INFO_COLLECTION_PAGE}(slug=${collection.slug})}" th:text="${collection.name}">John Doe</a>
								</li>
								<li><a href="../collection/info.html">Edith Roberts</a></li>
								<li><a href="../collection/info.html">Tyler Dean</a></li>
								<li><a href="../collection/info.html">Gwen Schultz</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="panel panel-default" th:if="${not #lists.isEmpty(recentlyAddedSeries)}">
						<div class="panel-heading">
							<h4 class="panel-title" th:text="#{t_recently_added_series}">Recently added series</h4>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled" th:remove="all-but-first">
								<li th:each="series : ${recentlyAddedSeries}">
									<a href="../series/info.html" th:href="@{${INFO_SERIES_PAGE}(id=${series.id})}">
										<span th:remove="tag" th:if="${series.country != null}" th:text="|${series.country}, |">Italy, </span>
										<span th:remove="tag" th:if="${series.year != null}" th:text="|${series.year}, |">1999, </span>
										<span th:remove="tag" th:text="|${series.quantity}&nbsp;${series.quantity != 1 ? '__#{t_stamps}__' : '__#{t_stamp}__'}|">7&nbsp;stamps</span>
										<span th:remove="tag" th:if="${not series.perforated}" th:text="|(#{t_wo_perforation_short})|">(without perforation)</span>
									</a>
								</li>
								<li><a href="../series/info.html">Italy, 1997, 8&nbsp;stamps</a></li>
								<li><a href="../series/info.html">Italy, 2009, 10&nbsp;stamps</a></li>
								<li><a href="../series/info.html">Italy, 4&nbsp;stamps</a></li>
								<li><a href="../series/info.html">Italy, 2002, 12&nbsp;stamps</a></li>
								<li><a href="../series/info.html">Italy, 1993, 19&nbsp;stamps</a></li>
								<li><a href="../series/info.html">Italy, 4&nbsp;stamps</a></li>
								<li><a href="../series/info.html">Italy, 11&nbsp;stamps (without perforation)</a></li>
								<li><a href="../series/info.html">Italy, 2014, 1&nbsp;stamp</a></li>
								<li><a href="../series/info.html">Italy, 1996, 16&nbsp;stamps (without perforation)</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title" th:text="#{t_in_db}">In our database</h4>
						</div>
						<div class="panel-body">
							<p th:text="|#{t_categories_amount}: ${categoryCounter}|">Categories: 2</p>
							<p th:text="|#{t_countries_amount}: ${countryCounter}|">Countries: 10</p>
							<p th:text="|#{t_series_amount}: ${seriesCounter}|">Series: 22</p>
							<p th:text="|#{t_stamps_amount}: ${stampsCounter}|">Stamps: 84</p>
							<p th:text="|#{t_collections_amount}: ${collectionsCounter}|">Collections: 3</p>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title" th:text="#{t_search_by_catalog}">Search by catalog</h4>
						</div>
						<div class="panel-body">
							<form id="search-series-form" method="get" action="../series/search_result.html" th:action="@{${SEARCH_SERIES_BY_CATALOG}}">
								<div class="form-group" th:classappend="${numberIsEmpty != null ? 'has-error' : ''}">
									<label for="catalogNumber" th:text="|#{t_number}:|">Number:</label>
									<input id="catalogNumber" name="catalogNumber" type="search" class="form-control"
										required="required" placeholder="Example: 999" th:placeholder="|#{t_example}: 999|" />
									<!--/*/
									<span id="catalogNumber.errors" th:if="${numberIsEmpty != null}" th:text="#{value.empty}" class="help-block">
										Value must not be empty
									</span>
									/*/-->
								</div>
								<div class="form-group">
									<label for="catalogName" th:text="|#{t_catalog}:|">Catalog:</label>
									<select id="catalogName" name="catalogName" class="form-control">
										<option value="michel" th:text="#{t_michel}">Michel</option>
										<option value="scott" th:text="#{t_scott}">Scott</option>
										<option value="yvert" th:text="#{t_yvert}">Yvert</option>
										<option value="gibbons" th:text="#{t_sg}">Gibbons</option>
										<option value="solovyov" th:text="#{t_solovyov}">Solovyov</option>
										<option value="zagorski" th:text="#{t_zagorski}">Zagorski</option>
									</select>
								</div>
								<div class="form-group">
									<input type="submit" value="Search" th:value="#{t_search}" class="btn btn-primary" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<footer class="col-sm-12 text-right">
					<i class="glyphicon glyphicon-envelope"></i>
					<a href="mailto:slava.semushin@gmail.com" title="Write e-mail" th:href="|mailto:#{t_site_author_email}|" th:title="#{t_write_email}" th:text="#{t_site_author_name}">Slava Semushin</a>, 2009-2019
				</footer>
			</div>
		</div>
		
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="http://yandex.st/jquery/1.9.1/jquery.min.js" th:src="${JQUERY_JS}"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" th:src="${BOOTSTRAP_JS}"></script>
	</body>
</html>
