server:
  port: 8081
spring:
  profiles:
    active: test
  main:
    show-banner: false
  thymeleaf:
    prefix: /WEB-INF/views/
    suffix: .html
---
spring:
  profiles: test
---
spring:
  profiles: prod
