<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<!--

  Checkstyle configuration that checks the sun coding conventions from:

    - the Java Language Specification at
      http://java.sun.com/docs/books/jls/second_edition/html/index.html

    - the Sun Code Conventions at http://java.sun.com/docs/codeconv/

    - the Javadoc guidelines at
      http://java.sun.com/j2se/javadoc/writingdoccomments/index.html

    - the JDK Api documentation http://java.sun.com/j2se/docs/api/index.html

    - some best practices

  Checkstyle is very configurable. Be sure to read the documentation at
  http://checkstyle.sourceforge.net (or in your downloaded distribution).

  Most Checks are configurable, be sure to consult the documentation.

  To completely disable a check, just comment it out or delete it from the file.

  Finally, it is worth reading the documentation.

-->

<module name="Checker">
    <!--
        If you set the basedir property below, then all reported file
        names will be relative to the specified directory. See
        http://checkstyle.sourceforge.net/config.html#Checker

        <property name="basedir" value="${basedir}"/>
    -->

    <!-- Checks that each Java package has a Javadoc file used for commenting.    -->
    <!-- See http://checkstyle.sourceforge.net/config_javadoc.html#JavadocPackage -->
    <module name="JavadocPackage" />

    <!-- Checks whether files end with a new line.                                 -->
    <!-- See http://checkstyle.sourceforge.net/config_misc.html#NewlineAtEndOfFile -->
    <module name="NewlineAtEndOfFile">
        <property name="severity" value="warning"/>
        <!--
            Explicitly specify line separator that matches separator of the files.
            We don't want to use a system-dependent separator because it won't work on Windows.
        -->
        <property name="lineSeparator" value="lf"/>
    </module>

    <!-- Checks that property files contain the same keys.                  -->
    <!-- See http://checkstyle.sourceforge.net/config_misc.html#Translation -->
    <module name="Translation"/>

    <module name="FileLength"/>

    <!-- Following interprets the header file as regular expressions. -->
    <!-- <module name="RegexpHeader"/>                                -->

    <!--
        <module name="FileTabCharacter">
            <property name="eachLine" value="true"/>
        </module>
    -->

    <module name="RegexpSingleline">
        <!-- \s matches whitespace character, $ matches end of line. -->
        <property name="format" value="\S+\s+$"/>
        <property name="message" value="Line has trailing spaces."/>
    </module>

    <module name="SuppressWithNearbyCommentFilter">
        <property name="commentFormat" value="CheckStyle: ignore (\w+) for next (\d+) line"/>
        <property name="checkFormat" value="$1"/>
        <property name="influenceFormat" value="$2"/>
    </module>

    <!-- Allow to use @SuppressWarning annotation to suppress warnings -->
    <module name="SuppressWarningsFilter"/>

    <module name="UniqueProperties"/>

    <module name="TreeWalker">

        <property name="cacheFile" value="${checkstyle.cache.file}"/>
        <property name="tabWidth" value="4"/>

        <!-- Required by SuppressWithNearbyCommentFilter to make comments available to the filter -->
        <module name="FileContentsHolder"/>

        <!-- Required by SuppressWarningsFilter to make annotations available to the filter -->
        <module name="SuppressWarningsHolder"/>

        <!-- Checks for Javadoc comments.                              -->
        <!-- See http://checkstyle.sourceforge.net/config_javadoc.html -->
        <!--
            <module name="JavadocMethod"/>
            <module name="JavadocType"/>
            <module name="JavadocVariable"/>
        -->
        <module name="JavadocStyle"/>


        <!-- Checks for Naming Conventions.                           -->
        <!-- See http://checkstyle.sourceforge.net/config_naming.html -->
        <module name="AbstractClassName"/>
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>


        <!-- Checks for Headers                                           -->
        <!-- See http://checkstyle.sourceforge.net/config_header.html     -->
        <!-- <module name="Header">                                       -->
            <!-- The follow property value demonstrates the ability       -->
            <!-- to have access to ANT properties. In this case it uses   -->
            <!-- the ${basedir} property to allow Checkstyle to be run    -->
            <!-- from any directory within a project. See property        -->
            <!-- expansion,                                               -->
            <!-- http://checkstyle.sourceforge.net/config.html#Properties -->
            <!-- <property                                                -->
            <!--     name="headerFile"                                    -->
            <!--     value="${basedir}/java.header"/>                     -->
        <!-- </module> -->


        <!-- Checks for imports                                        -->
        <!-- See http://checkstyle.sourceforge.net/config_imports.html -->
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"> <!-- defaults to sun.* packages -->
            <property name="illegalPkgs" value="org.apache.log4j, org.apache.commons.lang"/>
        </module>
        <module name="ImportOrder">
            <property name="option" value="bottom"/>
            <property name="groups" value="java,javax,org.apache.commons,org.slf4j,org.hibernate,org.springframework,org.springframework.boot,org.springframework.security,*,org.testng,org.fest.assertions,org.openqa.selenium,lombok,ru.mystamps"/>
            <property name="separated" value="true"/>
            <property name="sortStaticImportsAlphabetically" value="true"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>


        <!-- Checks for Size Violations.                             -->
        <!-- See http://checkstyle.sourceforge.net/config_sizes.html -->
        <module name="LineLength">
            <property name="severity" value="warning"/>
            <property name="max" value="100"/>
        </module>
        <module name="MethodLength"/>
        <module name="ParameterNumber"/>
        <module name="AnonInnerLength"/>


        <!-- Checks for whitespace                                        -->
        <!-- See http://checkstyle.sourceforge.net/config_whitespace.html -->
        <module name="EmptyForIteratorPad"/>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceAfter">
            <property name="tokens" value="ARRAY_INIT,BNOT,DEC,DOT,INC,LNOT,UNARY_MINUS,UNARY_PLUS,TYPECAST"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="NoWhitespaceBefore">
            <property name="severity" value="warning"/>
        </module>
        <module name="OperatorWrap"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="WhitespaceAfter">
            <property name="tokens" value="COMMA,SEMI"/>
        </module>
        <module name="WhitespaceAround">
            <property name="tokens" value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,EQUAL,GE,GT,LAND,LCURLY,LE,LITERAL_ASSERT,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_RETURN,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,TYPE_EXTENSION_AND" />
        </module>


        <!-- Modifier Checks                                            -->
        <!-- See http://checkstyle.sourceforge.net/config_modifier.html -->
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>


        <!-- Checks for blocks. You know, those {}'s                  -->
        <!-- See http://checkstyle.sourceforge.net/config_blocks.html -->
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>


        <!-- Checks for common coding problems                        -->
        <!-- See http://checkstyle.sourceforge.net/config_coding.html -->
	<!--
        <module name="AvoidInlineConditionals"/>
	-->
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="HiddenField">
            <property name="tokens" value="VARIABLE_DEF"/>
        </module>
        <module name="IllegalInstantiation"/>
        <module name="IllegalThrows"/>
        <module name="InnerAssignment"/>
        <module name="MagicNumber"/>
        <module name="MissingSwitchDefault"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="ParameterAssignment"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="UnnecessaryParentheses"/>
        <module name="DeclarationOrder"/>
        <module name="DefaultComesLast"/>
        <module name="FallThrough"/>
        <module name="SuperFinalize"/>
        <module name="SuperClone"/>
        <module name="StringLiteralEquality"/>
        <!--
            <module name="IllegalCatch"/>
            <module name="ArrayTrailingComma"/>
            <module name="MultipleStringLiterals"/>
        -->

        <!-- Checks for class design                                  -->
        <!-- See http://checkstyle.sourceforge.net/config_design.html -->
        <!--
            <module name="DesignForExtension"/>
        -->
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier">
            <property name="protectedAllowed" value="true"/>
        </module>


        <!-- Miscellaneous other checks.                            -->
        <!-- See http://checkstyle.sourceforge.net/config_misc.html -->
        <module name="ArrayTypeStyle"/>
        <!--
        <module name="FinalParameters">
            <property name="severity" value="warning"/>
        </module>
        -->
        <module name="TodoComment">
            <property name="format" value="XXX"/>
            <property name="severity" value="warning"/>
        </module>
        <!--
            <module name="TodoComment">
                <property name="severity" value="info"/>
            </module>
            <module name="TodoComment">
                <property name="format" value="&#x40;todo"/>
                <property name="severity" value="info"/>
            </module>
        -->
        <module name="UpperEll"/>
        <module name="TrailingComment">
            <property name="legalComment" value="FIXME|XXX|NOPMD"/>
        </module>

    </module>

</module>
