body,
#user_bar ul {
	margin: 0;
}

#header td {
	padding: 0;
}

#header {
	width: 100%;
	background-color: #f5f5f5;
	border-bottom: dotted 1px;
}

#logo {
	font-style: italic;
	font-size: 300%;
	width: 80%;
	padding-left: 10px;
}

#user_bar {
	width: 20%;
}

footer {
	background-color: #f5f5f5;
	text-align: right;
	border-top: dotted 1px;
	padding-right: 10px;
}

#content {
	margin: 10px;
}

#content h3 {
	font-variant: small-caps;
	text-align: center;
}

#content table,
.generic_form table {
	margin: auto;
}

.generic_form div.error {
	text-align: center;
}

.generic_form th,
.generic_form td {
	text-align: left;
}

.generic_form input[type=checkbox] {
	margin-left: 0;
}

.hint {
	color: #808080;
	font-style: italic;
	font-size: 80%;
}

.error,
.required_field {
	color: #8b0000;
}

#content .hint {
	text-align: center;
	margin-bottom: 20px;
}

label {
	font-weight: bold;
}

