/*
 * IMPORTANT:
 * You have to update Url.RESOURCES_VERSION each time whenever you're modified this file!
 */

/* Only for debug: highlight borders of rows and columns */
/*
.row, tr {
	border: solid 1px red;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, td {
	border: solid 1px green;
}
*/

body,
#user_bar ul {
	margin: 0;
}

#header {
	background-color: #f5f5f5;
	border-bottom: dotted 1px;
}

#logo {
	font-style: italic;
	font-size: 300%;
	padding-left: 10px;
	line-height: 100%;
}

#logo a {
	text-decoration: none;
	color: black;
}

footer {
	background-color: #f5f5f5;
	border-top: dotted 1px;
	padding-right: 10px;
}

#content {
	padding: 10px;
}

#content h3 {
	text-align: center;
}

#content table {
	margin: auto;
}

.hint {
	color: #808080;
	font-style: italic;
}

.required_field {
	color: #8b0000;
}

#content .hint {
	margin-bottom: 20px;
}

label {
	font-weight: bold;
}

.no-margin {
	margin: 0px;
}

.no-padding {
	padding: 0px;
}

.hint-block {
	color: #808080;
	font-style: italic;
	/* copy&paste .help-block properties (except color and margin-bottom) */
	display: block;
	margin-top: 5px;
}

.row .series-images {
	margin-bottom: 10px;
}

/* http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3 */
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.link-vcenter {
	line-height: 34px;
}
.js-collapse-toggle-header {
	display: none;
}

.number-input {
	width: 4em;
}
