body,
#user_bar ul {
	margin: 0;
}

#header {
	background-color: #f5f5f5;
	border-bottom: dotted 1px;
}

#logo {
	font-style: italic;
	font-size: 300%;
	padding-left: 10px;
	line-height: 100%;
}

#logo a {
	text-decoration: none;
	color: black;
}

footer {
	background-color: #f5f5f5;
	border-top: dotted 1px;
	padding-right: 10px;
}

#content {
	padding: 10px;
}

#content h3 {
	text-align: center;
}

#content table {
	margin: auto;
}

.hint {
	color: #808080;
	font-style: italic;
}

.required_field {
	color: #8b0000;
}

#content .hint {
	margin-bottom: 20px;
}

label {
	font-weight: bold;
}

.no-margin {
	margin: 0px;
}

.no-padding {
	padding: 0px;
}

.hint-block {
	color: #808080;
	font-style: italic;
	// copy&paste .help-block properties (except color)
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
}

.row .series-images {
	margin-bottom: 10px;
}
