<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<!-- See also src/env/dev/WEB-INF/web.xml for development configuration -->
	
	<context-param>
		<param-name>spring.profiles.active</param-name>
		<param-value>test</param-value>
	</context-param>
	
	<!--
		Web console for managing H2 database.
		
		Access it via http://127.0.0.1:8081/console and use "org.h2.Driver" as the driver,
		"jdbc:h2:mem:mystamps" as the URL, "sa" as the username and a blank password.
	-->
	<servlet>
		<servlet-name>H2Console</servlet-name>
		<servlet-class>org.h2.server.web.WebServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>H2Console</servlet-name>
		<url-pattern>/console/*</url-pattern>
	</servlet-mapping>
	
	<!-- see http://docs.oracle.com/javaee/5/tutorial/doc/bnajg.html -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>/WEB-INF/tiles/*</url-pattern>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
			<page-encoding>UTF-8</page-encoding>
			<scripting-invalid>true</scripting-invalid>
		</jsp-property-group>
	</jsp-config>
	
	<!--
		see also src/main/java/ru/mystamps/web/Url.java with
		mapping controller to location
	-->
	<error-page>
		<error-code>401</error-code>
		<location>/error/401</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error/404</location>
	</error-page>
	
	<session-config>
		<cookie-config>
			<http-only>true</http-only>
		</cookie-config>
	</session-config>
	
</web-app>
