<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<!-- See also src/env/dev/WEB-INF/web.xml for development configuration -->
	
	<context-param>
		<param-name>spring.profiles.active</param-name>
		<param-value>test</param-value>
	</context-param>
	
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
			org.springframework.web.context.support.AnnotationConfigWebApplicationContext
		</param-value>
	</context-param>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>ru.mystamps.web.config.ApplicationContext</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- To expose user's request to AuthenticationFailureListener where we need it for logging -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>
				org.springframework.web.context.support.AnnotationConfigWebApplicationContext
			</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				ru.mystamps.web.config.DispatcherServletContext
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!--
		Web console for managing H2 database.
		
		Access it via http://127.0.0.1:8081/console and use "org.h2.Driver" as the driver,
		"jdbc:h2:mem:mystamps" as the URL, "sa" as the username and a blank password.
	-->
	<servlet>
		<servlet-name>H2Console</servlet-name>
		<servlet-class>org.h2.server.web.WebServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>H2Console</servlet-name>
		<url-pattern>/console/*</url-pattern>
	</servlet-mapping>
	
	<!-- see http://docs.oracle.com/javaee/5/tutorial/doc/bnajg.html -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>/WEB-INF/pages/*</url-pattern>
			<include-prelude>/WEB-INF/segments/std.jspf</include-prelude>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
			<page-encoding>UTF-8</page-encoding>
			<scripting-invalid>true</scripting-invalid>
		</jsp-property-group>
	</jsp-config>
	
	<!--
		see also src/main/java/ru/mystamps/web/Url.java with
		mapping controller to location
	-->
	<error-page>
		<error-code>401</error-code>
		<location>/error/401</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error/404</location>
	</error-page>
	
	<filter>
		<filter-name>CharsetFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>
			org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		
		<!-- apply Spring Security authentication to error-pages -->
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
</web-app>
