<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex" />
		<title th:text="|MyStamps: #{t_auth_title}|">MyStamps: authentication</title>
		<link rel="shortcut icon" type="image/x-icon" href="../../../favicon.ico" th:href="${FAVICON_ICO}" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" th:href="${BOOTSTRAP_CSS}" />
		<link rel="stylesheet" href="../../static/styles/main.css" th:href="${MAIN_CSS}" />
	</head>
	<body lang="en" th:lang="${#locale.language == 'ru' ? 'ru' : 'en'}">
		<div class="container-fluid">
			<div class="row" id="header">
				<div id="logo" class="col-sm-10">
					<a href="../site/index.html" th:href="'/'" th:text="#{t_my_stamps}">My stamps</a>
				</div>
				
				<div id="user_bar" class="col-sm-2">
					<ul class="list-unstyled">
						<!--/*/
						<li sec:authorize="isAuthenticated()">
							<i class="glyphicon glyphicon-user"></i>
							<a sec:authentication="principal.user.name"
								href="../collection/info.html"
								title="Open my collection"
								th:title="#{t_open_my_collection}"
								th:href="@{${INFO_COLLECTION_PAGE}(id=${#authentication.principal.user.collection.id},slug=${#authentication.principal.user.collection.slug})}">
								John Doe
							</a>
						</li>
						/*/-->
						<li sec:authorize="isAnonymous()">
							<a href="../account/auth.html" th:href="@{${AUTHENTICATION_PAGE}}" th:text="#{t_enter}">Sign in</a>
						</li>
						<!--/*/
						<li sec:authorize="isAuthenticated()">
							<form id="LogoutForm" method="get" action="../site/index.html" class="no-margin" th:method="post" th:action="@{${LOGOUT_PAGE}}">
								<i class="glyphicon glyphicon-share"></i>&nbsp;<input type="submit" value="Sign out" class="btn btn-link no-padding" th:value="#{t_logout}" />
							</form>
						</li>
						/*/-->
						<li sec:authorize="isAnonymous()">
							<a href="../account/register.html" th:href="@{${REGISTRATION_PAGE}}" th:text="#{t_register}">Register</a>
						</li>
					</ul>
				</div>
			</div>
			<!--/*/
			<div class="row top-indent" th:if="${justActivatedUser}">
				<div class="alert alert-success text-center col-sm-8 col-sm-offset-2" th:text="#{t_activation_successful}">
					Account successfully activated! Now you can pass authentication.
				</div>
			</div>
			/*/-->
			<div class="row">
				<div id="content" class="col-sm-6 col-sm-offset-3" th:with="requestFailed=${(#httpServletRequest.queryString ?: '') eq 'failed'}">
					
					<h3 th:text="#{t_authentication_on_site}">
						Authentication on site
					</h3>
					
					<!--/*/ <th:block sec:authorize="isAnonymous()" th:with="exceptionOccurred=${session.SPRING_SECURITY_LAST_EXCEPTION != null}"> /*/-->
						<div class="hint text-center">
							<small th:with="redAsterisk='&lt;span class=&quot;required_field&quot;&gt;*&lt;/span&gt;'">
								<span class="hint_item" th:utext="#{t_required_fields_legend(${redAsterisk})}">
									All fields marked by asterisk (<span class="required_field">*</span>) must be filled.
								</span>
							</small>
						</div>
						
						<!--/*/
						<div class="row" th:if="${requestFailed and exceptionOccurred}">
							<div id="form.errors" class="alert alert-danger text-center col-sm-8 col-sm-offset-2" th:with="errorMessage=${session.SPRING_SECURITY_LAST_EXCEPTION.message}" th:text="${errorMessage}">
								Wrong login or password!
							</div>
						</div>
						/*/-->
						
						<form id="authAccountForm" action="../site/index.html" th:action="@{${LOGIN_PAGE}}" method="post" class="form-horizontal">
							
							<div class="form-group">
								<label for="login" class="control-label col-sm-3">
									<span class="field-label" th:text="#{t_login}">Login</span>
									<span id="login.required" class="required_field">*</span>
								</label>
								<div class="col-sm-5">
									<input type="text" id="login" name="login" required="required" value="" class="form-control" />
								</div>
							</div>
							
							<div class="form-group">
								<label for="password" class="control-label col-sm-3">
									<span class="field-label" th:text="#{t_password}">Password</span>
									<span id="password.required" class="required_field">*</span>
								</label>
								<div class="col-sm-5">
									<input type="password" id="password" name="password" required="required" value="" class="form-control" />
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-5">
									<input type="submit" class="btn btn-primary" value="Sign in" th:value="#{t_enter}" />
								</div>
							</div>
							
						</form>
					<!--/*/ </th:block> /*/-->
				</div>
			</div>
			<!--/*/
			<div class="row" sec:authorize="isAuthenticated()">
				<div class="alert alert-info text-center col-sm-8 col-sm-offset-2" th:text="#{t_already_authenticated}">
					You already authenticated.
				</div>
			</div>
			/*/-->
			<div class="row">
				<footer class="text-right">
					<i class="glyphicon glyphicon-envelope"></i>
					<a href="mailto:slava.semushin@gmail.com" title="Write e-mail" th:href="|mailto:#{t_site_author_email}|" th:title="#{t_write_email}" th:text="#{t_site_author_name}">Slava Semushin</a>, 2009-2015
				</footer>
			</div>
			
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="http://yandex.st/jquery/1.9.1/jquery.min.js" th:src="${JQUERY_JS}"></script>
			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" th:src="${BOOTSTRAP_JS}"></script>
		</div>
	</body>
</html>
