<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language == 'ru' ? 'ru' : 'en'}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="robots" content="noindex" />
		<title th:text="|#{t_my_stamps}: #{t_add_buyer_seller}|">My stamps: add buyer/seller</title>
		<link rel="shortcut icon" type="image/x-icon" href="../../../favicon.ico" th:href="${FAVICON_ICO}" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="${BOOTSTRAP_CSS}" />
		<link rel="stylesheet" href="https://cdn.rawgit.com/usrz/bootstrap-languages/3ac2a3d2b27ac43a471cd99e79d378a03b2c6b5f/languages.min.css" th:href="${BOOTSTRAP_LANGUAGE}" />
		<link rel="stylesheet" href="../../static/styles/main.css" th:href="${MAIN_CSS}" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="row" id="header">
				<div id="logo" class="col-sm-9 vcenter">
					<a href="../site/index.html" th:href="'/'" th:text="#{t_my_stamps}">My stamps</a>
				</div><!--
				
				--><div class="col-sm-1 vcenter">
					<div class="dropdown">
						<!--/*/
						<th:block th:switch="${#locale.language}">
							<th:block th:case="'ru'">
								<span class="lang-xs" lang="ru"></span>
								<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" th:text="#{t_russian}">
									Russian
								</a>
							</th:block>
							<th:block th:case="*">
						/*/-->
								<span class="lang-xs" lang="en"></span>
								<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" th:text="#{t_english}">
									English
								</a>
						<!--/*/
							</th:block>
						</th:block>
						/*/-->
						<span class="caret"></span>
						<ul class="dropdown-menu" th:switch="${#locale.language}">
							<!--/*/
							<li th:case="'ru'">
								<div class="dropdown-entry-lang">
									<span class="lang-xs" lang="en"></span>
									<a href="?lang=en" hreflang="en" th:text="#{t_english}">English</a>
								</div>
							</li>
							/*/-->
							<li th:case="*">
								<div class="dropdown-entry-lang">
									<span class="lang-xs" lang="ru"></span>
									<a href="?lang=ru" hreflang="ru" th:text="#{t_russian}">Russian</a>
								</div>
							</li>
						</ul>
					</div>
				</div><!--
				
				--><div id="user_bar" class="col-sm-2 vcenter">
					<ul class="list-unstyled">
						<li sec:authorize="isAuthenticated()">
							<i class="glyphicon glyphicon-user"></i>
							<a sec:authentication="principal.userName"
								href="../collection/info.html"
								title="Open my collection"
								th:title="#{t_open_my_collection}"
								th:href="@{${INFO_COLLECTION_PAGE}(slug=${#authentication.principal.userCollectionSlug})}">
								John Doe
							</a>
						</li>
						<!--/*/
						<li sec:authorize="isAnonymous()">
							<a href="../account/auth.html" th:href="@{${AUTHENTICATION_PAGE}}" th:text="#{t_enter}">Sign in</a>
						</li>
						/*/-->
						<li sec:authorize="isAuthenticated()">
							<form id="logout-form" method="get" action="../site/index.html" class="no-margin" th:method="post" th:action="@{${LOGOUT_PAGE}}">
								<i class="glyphicon glyphicon-share"></i>&nbsp;<input type="submit" value="Sign out" class="btn btn-link no-padding" th:value="#{t_logout}" />
							</form>
						</li>
						<!--/*/
						<li sec:authorize="isAnonymous()">
							<a href="../account/register.html" th:href="@{${REGISTRATION_PAGE}}" th:text="#{t_register}">Register</a>
						</li>
						/*/-->
					</ul>
				</div>
			</div>
			<div class="row">
				<div id="content" class="col-sm-6 col-sm-offset-3" th:with="header=#{t_add_buyer_seller}">
					<h3 th:text="${#strings.capitalize(header)} ">
						Add buyer/seller
					</h3>
					
					<div class="hint text-center">
						<small th:with="redAsterisk='&lt;span class=&quot;required_field&quot;&gt;*&lt;/span&gt;'">
							<span class="hint_item" th:utext="#{t_required_fields_legend(${redAsterisk})}">
								All fields marked by asterisk (<span class="required_field">*</span>) must be filled.
							</span>
						</small>
					</div>
					
					<form id="add-participant-form" method="post" class="form-horizontal" action="../site/index.html"
						th:action="@{${ADD_PARTICIPANT_PAGE}}" th:object="${addParticipantForm}">
						
						<div class="form-group" th:classappend="${#fields.hasErrors('name') ? 'has-error' : ''}">
							<label for="name" class="control-label col-sm-4">
								<span th:remove="tag" th:text="#{t_name}">
									Name
								</span>
								<span id="name.required" class="required_field">*</span>
							</label>
							<div class="col-sm-5">
								<input id="name" type="text" class="form-control" required="required" th:field="*{name}" />
								<!--/*/
								<span id="name.errors" class="help-block" th:if="${#fields.hasErrors('name')}" th:each="error : ${#fields.errors('name')}" th:text="${error}"></span>
								/*/-->
							</div>
						</div>
						
						<div class="form-group" th:classappend="${#fields.hasErrors('url') ? 'has-error' : ''}">
							<label for="url" class="control-label col-sm-4">
								<span th:remove="tag" th:text="#{t_url}">
									URL
								</span>
							</label>
							<div class="col-sm-5">
								<input id="url" type="url" class="form-control" th:field="*{url}" />
								<!--/*/
								<span id="url.errors" class="help-block" th:if="${#fields.hasErrors('url')}" th:each="error : ${#fields.errors('url')}" th:text="${error}"></span>
								/*/-->
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-5">
								<input type="submit" class="btn btn-primary" value="Add" th:value="#{t_add}" />
							</div>
						</div>
						
					</form>
				</div>
			</div>
			<div class="row">
				<footer class="col-sm-12 text-right">
					<i class="glyphicon glyphicon-envelope"></i>
					<a href="mailto:slava.semushin@gmail.com" title="Write e-mail" th:href="|mailto:#{t_site_author_email}|" th:title="#{t_write_email}" th:text="#{t_site_author_name}">Slava Semushin</a>, 2009-2017
				</footer>
			</div>
		</div>
		
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="http://yandex.st/jquery/1.9.1/jquery.min.js" th:src="${JQUERY_JS}"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="${BOOTSTRAP_JS}"></script>
	</body>
</html>
