<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="robots" content="noindex" />
		<title th:text="|MyStamps: #{t_add_series}|">MyStamps: add stamp series</title>
		<link rel="shortcut icon" type="image/x-icon" href="../../../favicon.ico" th:href="${FAVICON_ICO}" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" th:href="${BOOTSTRAP_CSS}" />
		<link rel="stylesheet" href="../../static/styles/main.css" th:href="${MAIN_CSS}" />
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.bootstrap3.min.css" th:href="${SELECTIZE_CSS}" />
	</head>
	<body lang="en" th:lang="${#locale.language == 'ru' ? 'ru' : 'en'}">
		<div class="container-fluid">
			<div class="row" id="header">
				<div id="logo" class="col-sm-9 vcenter">
					<a href="../site/index.html" th:href="'/'" th:text="#{t_my_stamps}">My stamps</a>
				</div><!--
				
				--><div class="col-sm-1 vcenter">
					<div class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
							<span th:text="#{t_english}" th:if="${#locale.language == 'en'}">English</span>
							<!--/*/
							<span th:text="#{t_russian}" th:if="${#locale.language == 'ru'}">Russian</span>
							/*/-->
						</a>
						<span class="caret"></span>
						<ul class="dropdown-menu">
							<li><a href="?lang=ru" hreflang="ru" th:text="#{t_russian}" th:if="${#locale.language == 'en'}">Russian</a></li>
							<!--/*/
							<li><a href="?lang=en" hreflang="en" th:text="#{t_english}" th:if="${#locale.language == 'ru'}">English</a></li>
							/*/-->
						</ul>
					</div>
				</div><!--
				
				--><div id="user_bar" class="col-sm-2 vcenter">
					<ul class="list-unstyled">
						<li sec:authorize="isAuthenticated()">
							<i class="glyphicon glyphicon-user"></i>
							<a sec:authentication="principal.user.name"
								href="../collection/info.html"
								title="Open my collection"
								th:title="#{t_open_my_collection}"
								th:href="@{${INFO_COLLECTION_PAGE}(id=${#authentication.principal.user.collection.id},slug=${#authentication.principal.user.collection.slug})}">
								John Doe
							</a>
						</li>
						<!--/*/
						<li sec:authorize="isAnonymous()">
							<a href="../account/auth.html" th:href="@{${AUTHENTICATION_PAGE}}" th:text="#{t_enter}">Sign in</a>
						</li>
						/*/-->
						<li sec:authorize="isAuthenticated()">
							<form id="LogoutForm" method="get" action="../site/index.html" class="no-margin" th:method="post" th:action="@{${LOGOUT_PAGE}}">
								<i class="glyphicon glyphicon-share"></i>&nbsp;<input type="submit" value="Sign out" class="btn btn-link no-padding" th:value="#{t_logout}" />
							</form>
						</li>
						<!--/*/
						<li sec:authorize="isAnonymous()">
							<a href="../account/register.html" th:href="@{${REGISTRATION_PAGE}}" th:text="#{t_register}">Register</a>
						</li>
						/*/-->
					</ul>
				</div>
			</div>
			<div class="row">
				<div id="content" class="col-sm-6 col-sm-offset-3">
					<h3 th:text="#{t_add_series_ucfirst}">
						Add stamp series
					</h3>
					
					<div class="hint text-center">
						<small th:with="redAsterisk='&lt;span class=&quot;required_field&quot;&gt;*&lt;/span&gt;'">
							<span class="hint_item" th:utext="#{t_required_fields_legend(${redAsterisk})}">
								All fields marked by asterisk (<span class="required_field">*</span>) must be filled.
							</span>
						</small>
					</div>
					
					<form method="post" enctype="multipart/form-data" class="form-horizontal" action="info.html"
						th:action="@{${ADD_SERIES_PAGE}} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}"
						th:object="${addSeriesForm}"
						th:with="michelHasErrors=${#fields.hasErrors('michelNumbers') or #fields.hasErrors('michelPrice')},
							michelHasValues=${addSeriesForm.michelNumbers != null or addSeriesForm.michelPrice != null},
							scottHasErrors=${#fields.hasErrors('scottNumbers') or #fields.hasErrors('scottPrice')},
							scottHasValues=${addSeriesForm.scottNumbers != null or addSeriesForm.scottPrice != null},
							yvertHasErrors=${#fields.hasErrors('yvertNumbers') or #fields.hasErrors('yvertPrice')},
							yvertHasValues=${addSeriesForm.yvertNumbers != null or addSeriesForm.yvertPrice != null},
							gibbonsHasErrors=${#fields.hasErrors('gibbonsNumbers') or #fields.hasErrors('gibbonsPrice')},
							gibbonsHasValues=${addSeriesForm.gibbonsNumbers != null or addSeriesForm.gibbonsPrice != null},
							showCatalogsInfo=${michelHasErrors or michelHasValues or scottHasErrors or scottHasValues or yvertHasErrors or yvertHasValues or gibbonsHasErrors or gibbonsHasValues},
							issueDateHasErrors=${#fields.hasErrors('day') or #fields.hasErrors('month') or #fields.hasErrors('year')},
							issueDateHasValues=${addSeriesForm.day != null or addSeriesForm.month != null or addSeriesForm.year != null}">
						
						<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('category') ? 'has-error' : ''}">
							<label for="category" class="control-label col-sm-3">
									<span class="field-label" th:text="#{t_category}">
										Category
									</span>
								<span id="category.required" class="required_field">*</span>
							</label>
							<div class="col-sm-5">
								<select id="category" class="form-control" required="required" th:field="*{category}">
									<option value=""></option>
									<!--/*/
									<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
									/*/-->
									<!--/*-->
									<option value="1">Animals</option>
									<option value="2">Music</option>
									<option value="3">Sport</option>
									<!--*/-->
								</select>
								<span id="category.errors" class="help-block" th:if="${#fields.hasErrors('category')}" th:each="error : ${#fields.errors('category')}" th:text="${error}"></span>
							</div>
						</div>
		
						<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('country') ? 'has-error' : ''}">
							<label for="country" class="control-label col-sm-3">
								<span class="field-label" th:text="#{t_country}">
									Country
								</span>
							</label>
							<div class="col-sm-5">
								<select id="country" class="form-control" th:field="*{country}">
									<option value=""></option>
									<!--/*/
									<option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"></option>
									/*/-->
									<!--/*-->
									<option value="1">Russia</option>
									<option value="2">Canada</option>
									<option value="3">Italy</option>
									<!--*/-->
								</select>
								<span id="country.errors" class="help-block" th:if="${#fields.hasErrors('country')}" th:each="error : ${#fields.errors('country')}" th:text="${error}"></span>
							</div>
						</div>
						
						<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('quantity') ? 'has-error' : ''}">
							<label for="quantity" class="control-label col-sm-3">
								<span class="field-label" th:text="#{t_quantity}">
									Quantity
								</span>
								<span id="quantity.required" class="required_field">*</span>
							</label>
							<div class="col-sm-2">
								<input type="number"
										id="quantity"
										class="form-control"
										required="required"
										th:min="${T(ru.mystamps.web.validation.ValidationRules).MIN_STAMPS_IN_SERIES}"
										th:max="${T(ru.mystamps.web.validation.ValidationRules).MAX_STAMPS_IN_SERIES}"
										min="1"
										max="50"
										th:field="*{quantity}" />
								<span id="quantity.errors" class="help-block" th:if="${#fields.hasErrors('quantity')}" th:each="error : ${#fields.errors('quantity')}" th:text="${error}"></span>
							</div>
						</div>
						
						<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('perforated') ? 'has-error' : ''}">
							<label for="perforated" class="control-label col-sm-3">
								<span class="field-label" th:text="#{t_perforated}">
									Perforated
								</span>
							</label>
							<div class="col-sm-1">
								<input type="checkbox" id="perforated" checked="checked" th:field="*{perforated}" />
								<span id="perforated.errors" class="help-block" th:if="${#fields.hasErrors('perforated')}" th:each="error : ${#fields.errors('perforated')}" th:text="${error}"></span>
							</div>
						</div>
						
						<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('image') ? 'has-error' : ''}">
							<label for="image" class="control-label col-sm-3">
								<span class="field-label" th:text="#{t_image}">
									Image
								</span>
								<span id="image.required" class="required_field">*</span>
							</label>
							<div class="col-sm-7">
								<input type="file" id="image" class="form-control" style="box-shadow: none; border: 0px;" required="required" accept="image/png,image/jpeg" th:field="*{image}" />
								<small togglz:active="ADD_ADDITIONAL_IMAGES_TO_SERIES" sec:authorize="hasAuthority('ADD_IMAGES_TO_SERIES')">
									<span class="hint-block" th:text="#{t_add_more_images_hint}">
										You will be able to add additional images on the series page
									</span>
								</small>
								<span id="image.errors" class="help-block" th:if="${#fields.hasErrors('image')}" th:each="error : ${#fields.errors('image')}" th:text="${error}"></span>
							</div>
						</div>
						
						<div class="form-group js-collapse-toggle-header">
							<div class="col-sm-offset-3 col-sm-5">
								<span class="glyphicon glyphicon-chevron-right" th:class="${issueDateHasErrors or issueDateHasValues ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'}"></span>&nbsp;<a href="javascript:void(0)" id="specify-issue-date-link" data-toggle="collapse" data-target=".js-issue-date" th:text="#{t_specify_issue_date}">
									Specify date of release
								</a>
							</div>
						</div>
						
						<div class="form-group form-group-sm collapse js-issue-date" th:classappend="|${issueDateHasErrors ? 'has-error in' : ''} ${issueDateHasValues ? 'in' : ''}|">
							<label for="year" class="control-label col-sm-3">
								<span class="field-label" th:text="#{t_issue_date}">
									Date of release
								</span>
							</label>
							
							<div class="col-sm-5">
								<div class="row">
									<div class="col-xs-4">
										<select class="form-control" th:field="*{day}">
											<option value="" th:text="#{t_day}">Day</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option value="23">23</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="27">27</option>
											<option value="28">28</option>
											<option value="29">29</option>
											<option value="30">30</option>
											<option value="31">31</option>
										</select>
									</div>
									
									<div class="col-xs-4">
										<select class="form-control" th:field="*{month}">
											<option value="" th:text="#{t_month}">Month</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
										</select>
									</div>
									
									<div class="col-xs-4">
										<select class="form-control" th:field="*{year}" id="year">
											<option value="" th:text="#{t_year}">Year</option>
											<!--/*/
											<option th:each="year : ${years}" th:value="${year.key}" th:text="${year.value}"></option>
											/*/-->
											<!--/*-->
											<option value="1990">1999</option>
											<option value="2000">2000</option>
											<option value="2010">2010</option>
											<!--*/-->
										</select>
									</div>
								</div>
								<span id="day.errors" class="help-block" th:if="${#fields.hasErrors('day')}" th:each="error : ${#fields.errors('day')}" th:text="${error}"></span>
								<span id="year.errors" class="help-block" th:if="${#fields.hasErrors('year')}" th:each="error : ${#fields.errors('year')}" th:text="${error}"></span>
								<span id="month.errors" class="help-block" th:if="${#fields.hasErrors('month')}" th:each="error : ${#fields.errors('month')}" th:text="${error}"></span>
							</div>
						</div>
						
						<div class="form-group js-collapse-toggle-header">
							<div class="col-sm-offset-3 col-sm-7">
								<span class="glyphicon glyphicon-chevron-right" th:class="${showCatalogsInfo ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'}"></span>&nbsp;<a href="javascript:void(0)" id="add-catalog-numbers-link" data-toggle="collapse" data-target=".js-catalogs-info" th:text="#{t_add_catalogs_info}">
									Add information from stamps catalogues
								</a>
							</div>
						</div>
						
						<div class="form-group form-group-sm collapse js-catalogs-info" th:classappend="|${michelHasErrors ? 'has-error' : ''} ${showCatalogsInfo ? 'in' : ''}|">
							<label for="michelNumbers" class="control-label col-sm-3">
								<span class="field-label" th:text="#{t_michel}">
									Michel
								</span>
							</label>
							<div class="col-sm-7">
								<div class="row">
									<div class="col-xs-6">
										<input type="text" id="michelNumbers" class="form-control js-catalog-numbers" th:field="*{michelNumbers}" />
									</div>
									<div class="col-xs-3">
										<input type="text" class="form-control" size="5" th:field="*{michelPrice}" />
									</div>
									<div class="col-xs-3">
										<select class="form-control" disabled="disabled">
											<option value="EUR">EUR</option>
										</select>
									</div>
								</div>
								<span id="michelNumbers.errors" class="help-block" th:if="${#fields.hasErrors('michelNumbers')}" th:each="error : ${#fields.errors('michelNumbers')}" th:text="${error}"></span>
								<span id="michelPrice.errors" class="help-block" th:if="${#fields.hasErrors('michelPrice')}" th:each="error : ${#fields.errors('michelPrice')}" th:text="${error}"></span>
							</div>
						</div>
						
						<div class="form-group form-group-sm collapse js-catalogs-info" th:classappend="|${scottHasErrors ? 'has-error' : ''} ${showCatalogsInfo ? 'in' : ''}|">
							<label for="scottNumbers" class="control-label col-sm-3">
								<span class="field-label" th:text="#{t_scott}">
									Scott
								</span>
							</label>
							<div class="col-sm-7">
								<div class="row">
									<div class="col-xs-6">
										<input type="text" id="scottNumbers" class="form-control js-catalog-numbers" th:field="*{scottNumbers}" />
									</div>
									<div class="col-xs-3">
										<input type="text" class="form-control" size="5" th:field="*{scottPrice}" />
									</div>
									<div class="col-xs-3">
										<select class="form-control" disabled="disabled">
											<option value="USD">USD</option>
										</select>
									</div>
								</div>
								<span id="scottNumbers.errors" class="help-block" th:if="${#fields.hasErrors('scottNumbers')}" th:each="error : ${#fields.errors('scottNumbers')}" th:text="${error}"></span>
								<span id="scottPrice.errors" class="help-block" th:if="${#fields.hasErrors('scottPrice')}" th:each="error : ${#fields.errors('scottPrice')}" th:text="${error}"></span>
							</div>
						</div>
						
						<div class="form-group form-group-sm collapse js-catalogs-info" th:classappend="|${yvertHasErrors ? 'has-error' : ''} ${showCatalogsInfo ? 'in' : ''}|">
							<label for="yvertNumbers" class="control-label col-sm-3">
								<span class="field-label" th:text="#{t_yvert}">
									Yvert
								</span>
							</label>
							<div class="col-sm-7">
								<div class="row">
									<div class="col-xs-6">
										<input type="text" id="yvertNumbers" class="form-control js-catalog-numbers" th:field="*{yvertNumbers}" />
									</div>
									<div class="col-xs-3">
										<input type="text" class="form-control" size="5" th:field="*{yvertPrice}" />
									</div>
									<div class="col-xs-3">
										<select class="form-control" disabled="disabled">
											<option value="EUR">EUR</option>
										</select>
									</div>
								</div>
								<span id="yvertNumbers.errors" class="help-block" th:if="${#fields.hasErrors('yvertNumbers')}" th:each="error : ${#fields.errors('yvertNumbers')}" th:text="${error}"></span>
								<span id="yvertPrice.errors" class="help-block" th:if="${#fields.hasErrors('yvertPrice')}" th:each="error : ${#fields.errors('yvertPrice')}" th:text="${error}"></span>
							</div>
						</div>
						
						<div class="form-group form-group-sm collapse js-catalogs-info" th:classappend="|${gibbonsHasErrors ? 'has-error' : ''} ${showCatalogsInfo ? 'in' : ''}|">
							<label for="gibbonsNumbers" class="control-label col-sm-3">
								<span class="field-label" th:text="#{t_sg}">
									Gibbons
								</span>
							</label>
							<div class="col-sm-7">
								<div class="row">
									<div class="col-xs-6">
										<input type="text" id="gibbonsNumbers" class="form-control js-catalog-numbers" th:field="*{gibbonsNumbers}" />
									</div>
									<div class="col-xs-3">
										<input type="text" class="form-control" size="5" th:field="*{gibbonsPrice}" />
									</div>
									<div class="col-xs-3">
										<select class="form-control" disabled="disabled">
											<option value="GBP">GBP</option>
										</select>
									</div>
								</div>
								<span id="gibbonsNumbers.errors" class="help-block" th:if="${#fields.hasErrors('gibbonsNumbers')}" th:each="error : ${#fields.errors('gibbonsNumbers')}" th:text="${error}"></span>
								<span id="gibbonsPrice.errors" class="help-block" th:if="${#fields.hasErrors('gibbonsPrice')}" th:each="error : ${#fields.errors('gibbonsPrice')}" th:text="${error}"></span>
							</div>
						</div>
						
						<div class="form-group js-collapse-toggle-header" sec:authorize="hasAuthority('ADD_COMMENTS_TO_SERIES')">
							<div class="col-sm-offset-3 col-sm-5">
								<span class="glyphicon glyphicon-chevron-right" th:class="${#fields.hasErrors('comment') or addSeriesForm.comment != null ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'}"></span>&nbsp;<a href="javascript:void(0)" id="add-comment-link" data-toggle="collapse" data-target=".js-comment" th:text="#{t_add_comment}">
									Add comment
								</a>
							</div>
						</div>
						
						<div class="form-group collapse js-comment" th:classappend="|${#fields.hasErrors('comment') ? 'has-error in' : ''} ${addSeriesForm.comment != null ? 'in' : ''}|" sec:authorize="hasAuthority('ADD_COMMENTS_TO_SERIES')">
							<label for="comment" class="control-label col-sm-3">
								<span class="field-label" th:text="#{t_comment}">
									Comment
								</span>
							</label>
							<div class="col-sm-5">
								<textarea id="comment" class="form-control" cols="22" rows="3" th:field="*{comment}"></textarea>
								<span id="comment.errors" class="help-block" th:if="${#fields.hasErrors('comment')}" th:each="error : ${#fields.errors('comment')}" th:text="${error}"></span>
							</div>
						</div>
						
						<div class="form-group form-group-sm">
							<div class="col-sm-offset-3 col-sm-5">
								<input type="submit" class="btn btn-primary" value="Add" th:value="#{t_add}" />
							</div>
						</div>
						
					</form>
				</div>
			</div>
			<div class="row">
				<footer class="col-sm-12 text-right">
					<i class="glyphicon glyphicon-envelope"></i>
					<a href="mailto:slava.semushin@gmail.com" title="Write e-mail" th:href="|mailto:#{t_site_author_email}|" th:title="#{t_write_email}" th:text="#{t_site_author_name}">Slava Semushin</a>, 2009-2015
				</footer>
			</div>
		</div>
		
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="http://yandex.st/jquery/1.9.1/jquery.min.js" th:src="${JQUERY_JS}"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" th:src="${BOOTSTRAP_JS}"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js" th:src="${SELECTIZE_JS}"></script>
		
		<!-- TODO: #126
		<script src="../../../../javascript/CatalogUtils.js" th:src="${CATALOG_UTILS_JS}"></script>
		-->
		<script src="https://my-stamps.ru/public/js/CatalogUtils.js"></script>
		
		<script>
			$(function() {
				$('#country').selectize();
				
				$('.js-catalog-numbers').on('blur', function() {
					$(this).val(function(idx, val) {
						return CatalogUtils.expandNumbers(val);
					});
				});
				
				$('.collapse').on('show.bs.collapse hide.bs.collapse', function toggleChevron() {
					$(this)
						.prev('.js-collapse-toggle-header')
						.find('.glyphicon')
						.toggleClass('glyphicon-chevron-down glyphicon-chevron-right');
				});
			});
		</script>
	</body>
</html>
