<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language == 'ru' ? 'ru' : 'en'}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:togglz="https://github.com/heneke/thymeleaf-extras-togglz">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title th:text="|#{t_my_stamps}: #{t_series_info}|">My stamps: Info about series</title>
		<link rel="shortcut icon" type="image/x-icon" href="../../../favicon.ico" th:href="${FAVICON_ICO}" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="${BOOTSTRAP_CSS}" />
		<link rel="stylesheet" href="https://cdn.rawgit.com/usrz/bootstrap-languages/3ac2a3d2b27ac43a471cd99e79d378a03b2c6b5f/languages.min.css" th:href="${BOOTSTRAP_LANGUAGE}" />
		<link rel="stylesheet" href="../../static/styles/main.css" th:href="${MAIN_CSS}" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="row" id="header">
				<div id="logo" class="col-sm-9 vcenter">
					<a href="../site/index.html" th:href="'/'" th:text="#{t_my_stamps}">My stamps</a>
				</div><!--
				
				--><div class="col-sm-1 vcenter"
						th:with="lang=${#locale.language == 'en' ? 'ru' : 'en'},langName=${#locale.language == 'en' ? 'Русский' : 'English'}">
					<span class="lang-xs" lang="ru"
						th:lang="${lang}"></span>
					<a href="javascript:void(0)" hreflang="ru"
						th:href="|?lang=${lang}|" th:hreflang="${lang}" th:text="${langName}">Русский</a>
				</div><!--
				
				--><div id="user_bar" class="col-sm-2 vcenter">
					<ul class="list-unstyled">
						<li sec:authorize="isAuthenticated()">
							<i class="glyphicon glyphicon-user"></i>
							<a sec:authentication="principal.userName"
								href="../collection/info.html"
								title="Open my collection"
								th:title="#{t_open_my_collection}"
								th:href="@{${INFO_COLLECTION_PAGE}(slug=${#authentication.principal.userCollectionSlug})}">
								John Doe
							</a>
						</li>
						<!--/*/
						<li sec:authorize="isAnonymous()">
							<a href="../account/auth.html" th:href="@{${AUTHENTICATION_PAGE}}" th:text="#{t_enter}">Sign in</a>
						</li>
						/*/-->
						<li sec:authorize="isAuthenticated()">
							<form id="logout-form" method="get" action="../site/index.html" class="no-margin" th:method="post" th:action="@{${LOGOUT_PAGE}}">
								<i class="glyphicon glyphicon-share"></i>&nbsp;<input type="submit" value="Sign out" class="btn btn-link no-padding" th:value="#{t_logout}" />
							</form>
						</li>
						<!--/*/
						<li sec:authorize="isAnonymous()">
							<a href="../account/register.html" th:href="@{${REGISTRATION_PAGE}}" th:text="#{t_register}">Register</a>
						</li>
						/*/-->
					</ul>
				</div>
			</div>
			<div class="row" id="content">
				<div class="col-sm-12">
					
					<!--/*/
					<div class="row" th:if="${maxQuantityOfImagesExceeded}">
						<div class="alert alert-danger text-center col-sm-8 col-sm-offset-2" th:text="#{t_add_image_error}">
							This series has enough images. Please, contact with admin if you want to add more images
						</div>
					</div>
					/*/-->
					
					<div class="row">
						
						<div class="col-sm-4">
							<div class="row" th:each="imageId,iter : ${series.imageIds}">
								<div class="col-sm-12">
									<a id="series-image-link-1"
										target="_blank"
										href="../../../../resources/test/test.png"
										th:id="|series-image-link-${iter.count}|"
										th:href="@{${GET_IMAGE_PAGE}(id=${imageId})}">
										
										<img class="img-responsive series-images"
											id="series-image-1"
											src="../../../../resources/test/test.png"
											th:id="|series-image-${iter.count}|"
											th:src="@{${GET_IMAGE_PREVIEW_PAGE}(id=${imageId})}" />
									</a>
								</div>
							</div>
							
							<div class="row" th:if="${allowAddingImages}" togglz:active="ADD_ADDITIONAL_IMAGES_TO_SERIES">
								<div class="col-sm-10">
									<form id="add-image-form"
										method="post"
										class="form-horizontal"
										enctype="multipart/form-data"
										th:action="@{${ADD_IMAGE_SERIES_PAGE}(id=${series.id})}"
										th:object="${addImageForm}">
										<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('image') ? 'has-error' : ''}">
											<label for="image" class="control-label col-sm-3" th:text="#{t_image}">
												Image
											</label>
											<div class="col-sm-9">
												<input id="image"
													type="file"
													style="box-shadow: none; border: 0px;"
													accept="image/png,image/jpeg"
													th:field="*{image}"
													th:attr="required=${#authorization.expression('hasAuthority(''DOWNLOAD_IMAGE'')') ? null : 'required'}" />
												<!--/*/
												<span id="image.errors" class="help-block" th:if="${#fields.hasErrors('image')}" th:each="error : ${#fields.errors('image')}" th:text="${error}"></span>
												/*/-->
											</div>
										</div>
										<div class="form-group form-group-sm"
											th:classappend="${#fields.hasErrors('imageUrl') or #fields.hasErrors('downloadedImage') ? 'has-error' : ''}"
											sec:authorize="hasAuthority('DOWNLOAD_IMAGE')">
											<label for="image-url" class="control-label col-sm-3">
												<span class="field-label" th:text="#{t_image_url}">
													Image URL
												</span>
											</label>
											<div class="col-sm-9">
												<input type="url" id="image-url" class="form-control" th:field="*{imageUrl}" />
												<!--/*/
												<span id="image-url.errors" class="help-block" th:if="${#fields.hasErrors('imageUrl')}" th:each="error : ${#fields.errors('imageUrl')}" th:text="${error}"></span>
												<span id="image-url.errors" class="help-block" th:if="${#fields.hasErrors('downloadedImage')}" th:each="error : ${#fields.errors('downloadedImage')}" th:text="${error}"></span>
												/*/-->
											</div>
										</div>
										<div class="form-group  from-group-sm">
											<div class="col-sm-offset-3 col-sm-5">
												<input type="submit" class="btn btn-primary" value="Add image" th:value="#{t_add_image}" />
											</div>
										</div>
									</form>
								</div>
							</div>
						
						</div>
						
						<div class="col-sm-4">
							<dl class="dl-horizontal">
								<dt th:text="#{t_category}">
									Category
								</dt>
								<dd id="category_name">
									<a href="../category/info.html"
									   th:href="@{${INFO_CATEGORY_PAGE}(slug=${series.category.slug})}"
									   th:text="${series.category.name}">
										Animals
									</a>
								</dd>
								
								<!--/*/ <th:block th:if="${series.country != null}"> /*/-->
									<dt th:text="#{t_country}">
										Country
									</dt>
									<dd id="country_name">
										<a href="../country/info.html"
										   th:href="@{${INFO_COUNTRY_PAGE}(slug=${series.country.slug})}"
										   th:text="${series.country.name}">
											Italy
										</a>
									</dd>
								<!--/*/ </th:block> /*/-->
								
								<!--/*/ <th:block th:if="${series.releaseYear != null}"> /*/-->
									<dt th:text="#{t_issue_date}">
										Date of release
									</dt>
									<dd id="issue_date">
										<span th:if="${series.releaseDay != null}"
											  th:text="|${#numbers.formatInteger(series.releaseDay, 2)}.|"
											  th:remove="tag">
											01.
										</span><span th:if="${series.releaseMonth != null}"
											  th:text="|${#numbers.formatInteger(series.releaseMonth, 2)}.|"
											  th:remove="tag">
											02.
										</span><span th:if="${series.releaseYear != null}"
											  th:text="${series.releaseYear}"
											  th:remove="tag">
											1999
										</span>
									</dd>
								<!--/*/ </th:block> /*/-->
									
									<dt th:text="#{t_quantity}">
										Quantity
									</dt>
									<dd id="quantity" th:text="${series.quantity}">
										7
									</dd>
									
									<dt th:text="#{t_perforated}">
										Perforated
									</dt>
									<dd id="perforated">
										<!--/*/ <th:block th:if="${series.perforated}"> /*/-->
											<span th:text="#{t_yes}">Yes</span> <i class="glyphicon glyphicon-ok"></i>
										<!--/*/ </th:block> /*/-->
										
										<!--/*/
										<th:block th:if="${not series.perforated}">
											<span th:text="#{t_no}">No</span> <i class="glyphicon glyphicon-remove"></i>
										</th:block>
										/*/-->
									</dd>
								
								<!--/*/ <th:block th:if="${not #strings.isEmpty(michelNumbers) or series.michel.price != null}"> /*/-->
									<dt th:text="#{t_michel}">
										Michel
									</dt>
									<dd id="michel_catalog_info"
										th:with="showNumbers=${not #strings.isEmpty(michelNumbers)},showPrice=${series.michel.price != null}">
										<span th:if="${showNumbers}" th:text="|#${michelNumbers}|" th:remove="tag">
											#101-104
										</span>
										<span th:if="${showPrice}"
											  th:with="showBrackets=${showNumbers and showPrice}"
											  th:text="${showBrackets ? '(' : ''} + ${series.michel.formattedPrice} + ' ' + ${series.michel.currency} + ${showBrackets ? ')' : ''}"
											  th:remove="tag">
											(10 EUR)
										</span>
									</dd>
								<!--/*/ </th:block> /*/-->
								
								<!--/*/ <th:block th:if="${not #strings.isEmpty(scottNumbers) or series.scott.price != null}"> /*/-->
									<dt th:text="#{t_scott}">
										Scott
									</dt>
									<dd id="scott_catalog_info"
										th:with="showNumbers=${not #strings.isEmpty(scottNumbers)},showPrice=${series.scott.price != null}">
										<span th:if="${showNumbers}" th:text="|#${scottNumbers}|" th:remove="tag"></span>
										<span th:if="${showPrice}"
											  th:with="price=${#numbers.formatDecimal(series.scott.price, 1, 1)},showBrackets=${showNumbers and showPrice}"
											  th:text="${showBrackets ? '(' : ''} + ${series.scott.formattedPrice} + ' ' + ${series.scott.currency} + ${showBrackets ? ')' : ''}"
											  th:remove="tag">
											12 USD
										</span>
									</dd>
								<!--/*/ </th:block> /*/-->
								
								<!--/*/ <th:block th:if="${not #strings.isEmpty(yvertNumbers) or series.yvert.price != null}"> /*/-->
									<dt th:text="#{t_yvert}">
										Yvert
									</dt>
									<dd id="yvert_catalog_info"
										th:with="showNumbers=${not #strings.isEmpty(yvertNumbers)},showPrice=${series.yvert.price != null}">
										<span th:if="${showNumbers}" th:text="|#${yvertNumbers}|" th:remove="tag">
											#13, 17, 20
										</span>
										<span th:if="${showPrice}"
											  th:with="showBrackets=${showNumbers and showPrice}"
											  th:text="${showBrackets ? '(' : ''} + ${series.yvert.formattedPrice} + ' ' + ${series.yvert.currency} + ${showBrackets ? ')' : ''}"
											  th:remove="tag">
											(7 EUR)
										</span>
									</dd>
								<!--/*/ </th:block> /*/-->
								
								<!--/*/ <th:block th:if="${not #strings.isEmpty(gibbonsNumbers) or series.gibbons.price != null}"> /*/-->
									<dt th:text="#{t_sg}">
										Gibbons
									</dt>
									<dd id="gibbons_catalog_info"
										th:with="showNumbers=${not #strings.isEmpty(gibbonsNumbers)},showPrice=${series.gibbons.price != null}">
										<span th:if="${showNumbers}" th:text="|#${gibbonsNumbers}|" th:remove="tag">
											#77, 79-83
										</span>
										<span th:if="${showPrice}"
											  th:with="showBrackets=${showNumbers and showPrice}"
											  th:text="${showBrackets ? '(' : ''} + ${series.gibbons.formattedPrice} + ' ' + ${series.gibbons.currency} + ${showBrackets ? ')' : ''}"
											  th:remove="tag">
										</span>
									</dd>
								<!--/*/ </th:block> /*/-->
								
								<!--/*/ <th:block th:if="${series.comment != null and #authorization.expression('hasAuthority(''ADD_COMMENTS_TO_SERIES'')')}"> /*/-->
									<dt th:text="#{t_comment}">
										Comment
									</dt>
									<dd id="comment" th:utext="${#strings.replace(#strings.escapeXml(series.comment), T(java.lang.System).getProperty('line.separator'), '&lt;br /&gt;')}">
										My favorite series.
									</dd>
								<!--/*/ </th:block> /*/-->
							</dl>
						</div>
						
						<div class="col-sm-4">
							
							<div class="row" togglz:active="ADD_SERIES_TO_COLLECTION">
								<div class="col-sm-12" th:if="${not isSeriesInCollection}" sec:authorize="hasAuthority('UPDATE_COLLECTION')">
									<form method="post" action="../collection/info.html" th:action="@{${INFO_SERIES_PAGE}(id=${series.id})}">
										<p th:text="#{t_series_not_in_collection}">
											Series isn't part of your collection
										</p>
										<p>
											<input type="hidden" name="action" value="ADD" />
											<input id="series-success" type="submit" class="btn btn-success" value="Add to collection" th:value="#{t_add_to_collection}" />
										</p>
									</form>
								</div>
								
								<!--/*/
								<div class="col-sm-12" th:if="${isSeriesInCollection}" sec:authorize="hasAuthority('UPDATE_COLLECTION')">
									<form method="post" action="../collection/info.html" th:action="@{${INFO_SERIES_PAGE}(id=${series.id})}">
										<p th:text="#{t_series_in_collection}">
											Series is part of your collection
										</p>
										<p>
											<input type="hidden" name="action" value="REMOVE" />
											<input id="series-danger" type="submit" class="btn btn-danger" value="Remove from collection" th:value="#{t_remove_from_collection}" />
										</p>
									</form>
								</div>
								
								<div class="col-sm-12" sec:authorize="isAnonymous()">
									<p th:utext="#{t_need_authentication_to_add_series_to_collection(@{${REGISTRATION_PAGE}}, @{${AUTHENTICATION_PAGE}})}">
										In order to add this series to your collection you should <a href="../account/register.html">register</a>
										or <a href="../account/auth.html">pass authentication</a>.
									</p>
								</div>
								/*/-->
							</div>
							
							<div class="row" th:if="${not #lists.isEmpty(purchasesAndSales)}" togglz:active="SHOW_PURCHASES_AND_SALES" sec:authorize="hasAuthority('VIEW_SERIES_SALES')">
								<div class="col-sm-12">
									<h5 th:text="|#{t_who_selling_series}:|">Who was selling/buying this series:</h5>
									<ul th:remove="all-but-first">
										<li th:each="transaction : ${purchasesAndSales}"
											th:with="firstPrice=${#numbers.formatDecimal(transaction.firstPrice, 0, 'DEFAULT', 2, 'DEFAULT') + '&nbsp;' + transaction.firstCurrency},
														 optionalSecondPrice=${transaction.secondPrice != null ? ('&nbsp;' + '(' + #numbers.formatDecimal(transaction.secondPrice, 0, 'DEFAULT', 2, 'DEFAULT') + '&nbsp;' + transaction.secondCurrency + ')') : ''}">
											<!--/*/
											<span th:if="${transaction.date != null}" th:remove="tag" th:text="${#dates.format(transaction.date, 'dd.MM.yyyy')}"></span>
											/*/-->
											<a href="http://example.com/james-alan-hetfield" rel="nofollow" th:remove="${transaction.sellerUrl == null} ? tag" th:href="${transaction.sellerUrl}" th:text="${transaction.sellerName}">James Alan Hetfield</a>
											<span th:if="${transaction.buyerName == null}" th:remove="tag" th:text="#{t_was_selling_for}">was selling for</span>
											<!--/*/
											<th:block th:if="${transaction.buyerName != null}">
												<span th:text="#{t_sold_to}" th:remove="tag">sold to</span>
												<a href="http://example.com/eicca-toppinen" rel="nofollow" th:remove="${transaction.buyerUrl == null} ? tag" th:href="${transaction.buyerUrl}" th:text="${transaction.buyerName}">Eicca Toppinen</a>
												<span th:text="#{t_sold_for}" th:remove="tag">for</span>
											</th:block>
											/*/-->
											<a href="http://example.com/james-alan-hetfield/selling-stamps" rel="nofollow"
											   th:remove="${transaction.transactionUrl == null} ? tag"
											   th:href="${transaction.transactionUrl}"
											   th:text="${firstPrice + optionalSecondPrice}">100 USD</a>
										</li>
										<li>
											<a href="http://example.com/james-alan-hetfield" rel="nofollow">James Alan Hetfield</a> was selling for <a href="http://example.com/james-alan-hetfield/selling-stamps" rel="nofollow">100 USD (650 RUB)</a>
										</li>
										<li>
											02.02.2002 <a href="http://example.com/tommy-lee-jones" rel="nofollow">Tommy Lee Jones</a> was selling for <a href="http://example.com/tommy-lee-jones/selling-stamps" rel="nofollow">200 USD</a>
										</li>
										<li>
											02.02.2002 <a href="http://example.com/tommy-lee-jones" rel="nofollow">Tommy Lee Jones</a> was selling for <a href="http://example.com/tommy-lee-jones/selling-stamps" rel="nofollow">200 USD (1300 RUB)</a>
										</li>
										<li>
											03.03.2003 <a href="http://example.com/eicca-toppinen" rel="nofollow">Eicca Toppinen</a> sold to <a href="http://example.com/kurt-cobain" rel="nofollow">Kurt Cobain</a> for <a href="http://example.com/eicca-toppinen/selling-stamps" rel="nofollow">300 USD</a>
										</li>
										<li>
											03.03.2003 <a href="http://example.com/eicca-toppinen" rel="nofollow">Eicca Toppinen</a> sold to Michael Jackson for <a href="http://example.com/eicca-toppinen/selling-stamps" rel="nofollow">300 USD (1560 RUB)</a>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="row" togglz:active="ADD_PURCHASES_AND_SALES" sec:authorize="hasAuthority('ADD_SERIES_SALES')">
								<div class="col-sm-12">
									<h5 th:text="|#{t_add_info_who_selling_series}:|">Add info about selling/buying this series:</h5>
									<form id="add-series-sales-form"
										method="post"
										class="form-horizontal"
										action="info.html"
										th:action="@{${ADD_SERIES_ASK_PAGE}(id=${series.id})}"
										th:object="${addSeriesSalesForm}">
										
										<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('date') ? 'has-error' : ''}">
											<label for="date" class="control-label col-sm-3" th:text="#{t_date}">
												Date
											</label>
											<div class="col-sm-4">
												<input type="text" id="date" class="form-control" th:field="*{date}" />
												<!--/*/
												<span id="date.errors" class="help-block" th:if="${#fields.hasErrors('date')}" th:each="error : ${#fields.errors('date')}" th:text="${error}"></span>
												/*/-->
											</div>
										</div>
										
										<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('sellerId') ? 'has-error' : ''}">
											<label for="seller" class="control-label col-sm-3">
												<span th:remove="tag" th:text="#{t_seller}">
													Seller
												</span>
												<span class="required_field">*</span>
											</label>
											<div class="col-sm-6">
												<select id="seller" class="form-control" required="required" th:field="*{sellerId}">
													<option value="" th:text="#{t_not_chosen_masculine}">Not chosen</option>
													<!--/*/
													<th:block th:each="item : ${sellers}">
														<optgroup th:if="${not #lists.isEmpty(item.children)}" th:label="${item.name}">
															<option th:each="seller : ${item.children}"
																th:value="${seller.id}"
																th:text="${seller.name}"
																th:selected="${addSeriesSalesForm.sellerId != seller.id}">
															</option>
														</optgroup>
														<option th:if="${#lists.isEmpty(item.children)}"
															th:value="${item.id}"
															th:text="${item.name}"
															th:selected="${addSeriesSalesForm.sellerId != item.id}">
														</option>
													</th:block>
													/*/-->
													<!--/*-->
													<optgroup label="Musicians">
														<option value="3">Eicca Toppinen</option>
														<option value="1">James Alan Hetfield</option>
													</optgroup>
													<option value="2">Tommy Lee Jones</option>
													<!--*/-->
												</select>
												<small sec:authorize="hasAuthority('ADD_PARTICIPANT')">
													<span class="hint-block" th:utext="#{t_add_seller_hint(@{${ADD_PARTICIPANT_PAGE}(seller=true)})}">
														You can also <a tabindex="-1" href="../participant/add.html?seller=true">add a new seller</a>
													</span>
												</small>
												<!--/*/
												<span id="seller.errors" class="help-block" th:if="${#fields.hasErrors('sellerId')}" th:each="error : ${#fields.errors('sellerId')}" th:text="${error}"></span>
												/*/-->
											</div>
										</div>
										
										<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('url') ? 'has-error' : ''}">
											<label for="url" class="control-label col-sm-3" th:text="#{t_url}">
												URL
											</label>
											<div class="col-sm-6">
												<input type="url" id="url" class="form-control" th:field="*{url}" />
												<!--/*/
												<span id="url.errors" class="help-block" th:if="${#fields.hasErrors('url')}" th:each="error : ${#fields.errors('url')}" th:text="${error}"></span>
												/*/-->
											</div>
										</div>
										
										<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('price') or #fields.hasErrors('currency') ? 'has-error' : ''}">
											<label for="price" class="control-label col-sm-3">
												<span th:remove="tag" th:text="#{t_price}">
													Price
												</span>
												<span class="required_field">*</span>
											</label>
											<div class="col-sm-6">
												<div class="row">
													<div class="col-xs-6">
														<input type="text" id="price" class="form-control" size="5" required="required" th:field="*{price}" />
													</div>
													<div class="col-xs-4 no-padding">
														<select id="currency" class="form-control" required="required" th:field="*{currency}">
															<option value=""></option>
															<option value="USD">USD</option>
															<option value="EUR">EUR</option>
															<option value="GBP">GBP</option>
															<option value="RUB" selected="selected">RUB</option>
															<option value="CZK">CZK</option>
														</select>
													</div>
												</div>
												<!--/*/
												<span id="price.errors" class="help-block" th:if="${#fields.hasErrors('price')}" th:each="error : ${#fields.errors('price')}" th:text="${error}"></span>
												<span id="currency.errors" class="help-block" th:if="${#fields.hasErrors('currency')}" th:each="error : ${#fields.errors('currency')}" th:text="${error}"></span>
												/*/-->
											</div>
										</div>
										
										<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('altPrice') or #fields.hasErrors('altCurrency') ? 'has-error' : ''}">
											<label for="price" class="control-label col-sm-3" th:text="#{t_alternative_price}">
												Alternative price
											</label>
											<div class="col-sm-6">
												<div class="row">
													<div class="col-xs-6">
														<input type="text" id="alt-price" class="form-control" size="5" th:field="*{altPrice}" />
													</div>
													<div class="col-xs-4 no-padding">
														<select id="alt-currency" class="form-control" th:field="*{altCurrency}">
															<option value=""></option>
															<option value="USD">USD</option>
															<option value="EUR">EUR</option>
															<option value="GBP">GBP</option>
															<option value="RUB">RUB</option>
															<option value="CZK">CZK</option>
														</select>
													</div>
												</div>
												<!--/*/
												<span id="alt-price.errors" class="help-block" th:if="${#fields.hasErrors('altPrice')}" th:each="error : ${#fields.errors('altPrice')}" th:text="${error}"></span>
												<span id="alt-currency.errors" class="help-block" th:if="${#fields.hasErrors('altCurrency')}" th:each="error : ${#fields.errors('altCurrency')}" th:text="${error}"></span>
												/*/-->
											</div>
										</div>
										
										<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('buyerId') ? 'has-error' : ''}">
											<label for="buyer" class="control-label col-sm-3" th:text="#{t_buyer}">
												Buyer
											</label>
											<div class="col-sm-6">
												<select id="buyer" class="form-control" th:field="*{buyerId}">
													<option value="" th:text="#{t_not_chosen_masculine}">Not chosen</option>
													<!--/*/
														<th:block th:each="item : ${buyers}">
															<optgroup th:if="${not #lists.isEmpty(item.children)}" th:label="${item.name}">
																<option th:each="buyer : ${item.children}"
																	th:value="${buyer.id}"
																	th:text="${buyer.name}"
																	th:selected="${addSeriesSalesForm.buyerId != buyer.id}">
																</option>
															</optgroup>
															<option th:if="${#lists.isEmpty(item.children)}"
																th:value="${item.id}"
																th:text="${item.name}"
																th:selected="${addSeriesSalesForm.buyerId != item.id}">
															</option>
														</th:block>
													/*/-->
													<!--/*-->
													<optgroup label="Musicians">
														<option value="1">Kurt Cobain</option>
														<option value="2">Michael Jackson</option>
													</optgroup>
													<!--*/-->
												</select>
												<small sec:authorize="hasAuthority('ADD_PARTICIPANT')">
													<span class="hint-block" th:utext="#{t_add_buyer_hint(@{${ADD_PARTICIPANT_PAGE}(buyer=true)})}">
														You can also <a tabindex="-1" href="../participant/add.html?buyer=true">add a new buyer</a>
													</span>
												</small>
												<!--/*/
												<span id="buyer.errors" class="help-block" th:if="${#fields.hasErrors('buyerId')}" th:each="error : ${#fields.errors('buyerId')}" th:text="${error}"></span>
												/*/-->
											</div>
										</div>
										
										<div class="form-group form-group-sm">
											<div class="col-sm-offset-3 col-sm-4">
												<input type="submit" class="btn btn-primary" value="Add info" th:value="#{t_add_info}" />
											</div>
										</div>
										
									</form>
								</div>
							</div>
							
						</div>
						
					</div>
					
				</div>
			</div>
			
			<div class="row">
				<footer class="col-sm-12 text-right">
					<i class="glyphicon glyphicon-envelope"></i>
					<a href="mailto:slava.semushin@gmail.com" title="Write e-mail" th:href="|mailto:#{t_site_author_email}|" th:title="#{t_write_email}" th:text="#{t_site_author_name}">Slava Semushin</a>, 2009-2017
				</footer>
			</div>
		</div>
		
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="http://yandex.st/jquery/1.9.1/jquery.min.js" th:src="${JQUERY_JS}"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="${BOOTSTRAP_JS}"></script>
	</body>
</html>
