<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language == 'ru' ? 'ru' : 'en'}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title th:text="|#{t_my_stamps}: #{t_series_info}|">My stamps: Info about series</title>
		<link rel="shortcut icon" type="image/x-icon" href="../../../favicon.ico" th:href="${FAVICON_ICO}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" th:href="${BOOTSTRAP_CSS}" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/usrz/bootstrap-languages@3ac2a3d2b27ac43a471cd99e79d378a03b2c6b5f/languages.min.css" th:href="${BOOTSTRAP_LANGUAGE}" />
		<link rel="stylesheet" href="../../static/styles/main.css" th:href="${MAIN_CSS}" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="row" id="header">
				<div id="logo" class="col-sm-9 vcenter">
					<a href="../site/index.html" th:href="'/'" th:text="#{t_my_stamps}">My stamps</a>
				</div><!--
				
				--><div class="col-sm-1 vcenter"
						th:with="lang=${#locale.language == 'en' ? 'ru' : 'en'},langName=${#locale.language == 'en' ? 'Русский' : 'English'}">
					<span class="lang-xs" lang="ru"
						th:lang="${lang}"></span>
					<a href="javascript:void(0)" hreflang="ru"
						th:href="|?lang=${lang}|" th:hreflang="${lang}" th:text="${langName}">Русский</a>
				</div><!--
				
				--><div id="user_bar" class="col-sm-2 vcenter">
					<ul class="list-unstyled">
						<li sec:authorize="isAuthenticated()">
							<i class="glyphicon glyphicon-user"></i>
							<a sec:authentication="principal.userName"
								href="../collection/info.html"
								title="Open my collection"
								th:title="#{t_open_my_collection}"
								th:href="@{${INFO_COLLECTION_PAGE}(slug=${#authentication.principal.userCollectionSlug})}">
								John Doe
							</a>
						</li>
						<!--/*/
						<li sec:authorize="isAnonymous()">
							<a href="../account/auth.html" th:href="@{${AUTHENTICATION_PAGE}}" th:text="#{t_enter}">Sign in</a>
						</li>
						/*/-->
						<li sec:authorize="isAuthenticated()">
							<form id="logout-form" method="get" action="../site/index.html" class="no-margin" th:method="post" th:action="@{${LOGOUT_PAGE}}">
								<i class="glyphicon glyphicon-share"></i>&nbsp;<input type="submit" value="Sign out" class="btn btn-link no-padding" th:value="#{t_logout}" />
							</form>
						</li>
						<!--/*/
						<li sec:authorize="isAnonymous()">
							<a href="../account/register.html" th:href="@{${REGISTRATION_PAGE}}" th:text="#{t_register}">Register</a>
						</li>
						/*/-->
					</ul>
				</div>
			</div>
			<div class="row" id="content">
				<div class="col-sm-12">
					
					<!--/*/
					<div class="row" th:if="${maxQuantityOfImagesExceeded}">
						<div class="alert alert-danger text-center col-sm-8 col-sm-offset-2" th:text="#{t_add_image_error}">
							This series has enough images. Please, contact with admin if you want to add more images
						</div>
					</div>
					/*/-->
					
					<div class="row">
						
						<div class="col-sm-4">
							<div class="row" th:each="imageId,iter : ${series.imageIds}">
								<div class="col-sm-12">
									<a id="series-image-link-1"
										target="_blank"
										href="../../../../resources/test/test.png"
										th:id="|series-image-link-${iter.count}|"
										th:href="@{${GET_IMAGE_PAGE}(id=${imageId})}">
										
										<img class="img-responsive series-images"
											id="series-image-1"
											src="../../../../resources/test/test.png"
											th:id="|series-image-${iter.count}|"
											th:src="@{${GET_IMAGE_PREVIEW_PAGE}(id=${imageId})}" />
									</a>
								</div>
							</div>
							
							<div class="row" th:if="${allowAddingImages}">
								<div class="col-sm-10">
									<form id="add-image-form"
										method="post"
										class="form-horizontal"
										enctype="multipart/form-data"
										th:action="@{${ADD_IMAGE_SERIES_PAGE}(id=${series.id})}"
										th:object="${addImageForm}">
										<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('uploadedImage') ? 'has-error' : ''}">
											<label for="image" class="control-label col-sm-3" th:text="#{t_image}">
												Image
											</label>
											<div class="col-sm-9">
												<input id="image"
													type="file"
													style="box-shadow: none; border: 0px;"
													accept="image/png,image/jpeg"
													th:field="*{uploadedImage}"
													th:attr="required=${#authorization.expression('hasAuthority(''DOWNLOAD_IMAGE'')') ? null : 'required'}" />
												<!--/*/
												<span id="image.errors" class="help-block" th:if="${#fields.hasErrors('uploadedImage')}" th:each="error : ${#fields.errors('uploadedImage')}" th:text="${error}"></span>
												/*/-->
											</div>
										</div>
										<div class="form-group form-group-sm"
											th:classappend="${#fields.hasErrors('imageUrl') or #fields.hasErrors('downloadedImage') ? 'has-error' : ''}"
											sec:authorize="hasAuthority('DOWNLOAD_IMAGE')">
											<label for="image-url" class="control-label col-sm-3" th:text="#{t_image_url}">
												Image URL
											</label>
											<div class="col-sm-9">
												<input type="url" id="image-url" class="form-control" th:field="*{imageUrl}" />
												<!--/*/
												<span id="image-url.errors" class="help-block" th:if="${#fields.hasErrors('imageUrl')}" th:each="error : ${#fields.errors('imageUrl')}" th:text="${error}"></span>
												<span id="image-url.errors" class="help-block" th:if="${#fields.hasErrors('downloadedImage')}" th:each="error : ${#fields.errors('downloadedImage')}" th:text="${error}"></span>
												/*/-->
											</div>
										</div>
										<div class="form-group  from-group-sm">
											<div class="col-sm-offset-3 col-sm-5">
												<input type="submit" class="btn btn-primary" value="Add image" th:value="#{t_add_image}" />
											</div>
										</div>
									</form>
								</div>
							</div>
						
						</div>
						
						<div class="col-sm-4">
							<div class="row">
								<div class="col-sm-12">
									<dl class="dl-horizontal">
										<dt th:text="#{t_category}">
											Category
										</dt>
										<dd id="category_name">
											<a href="../category/info.html"
											   th:href="@{${INFO_CATEGORY_PAGE}(slug=${series.category.slug})}"
											   th:text="${series.category.name}">
												Animals
											</a>
										</dd>
										
										<!--/*/ <th:block th:if="${series.country != null}"> /*/-->
											<dt th:text="#{t_country}">
												Country
											</dt>
											<dd id="country_name">
												<a href="../country/info.html"
												   th:href="@{${INFO_COUNTRY_PAGE}(slug=${series.country.slug})}"
												   th:text="${series.country.name}">
													Italy
												</a>
											</dd>
										<!--/*/ </th:block> /*/-->
										
										<!--/*/ <th:block th:if="${series.releaseYear != null}"> /*/-->
											<dt th:text="#{t_issue_date}">
												Date of release
											</dt>
											<dd id="issue_date">
												<span th:if="${series.releaseDay != null}"
													  th:text="|${#numbers.formatInteger(series.releaseDay, 2)}.|"
													  th:remove="tag">
													01.
												</span><span th:if="${series.releaseMonth != null}"
													  th:text="|${#numbers.formatInteger(series.releaseMonth, 2)}.|"
													  th:remove="tag">
													02.
												</span><span th:if="${series.releaseYear != null}"
													  th:text="${series.releaseYear}"
													  th:remove="tag">
													1999
												</span>
											</dd>
										<!--/*/ </th:block> /*/-->
											
											<dt th:text="#{t_quantity}">
												Quantity
											</dt>
											<dd id="quantity" th:text="${series.quantity}">
												7
											</dd>
											
											<dt th:text="#{t_perforated}">
												Perforated
											</dt>
											<dd id="perforated">
												<!--/*/ <th:block th:if="${series.perforated}"> /*/-->
													<span th:text="#{t_yes}">Yes</span> <i class="glyphicon glyphicon-ok"></i>
												<!--/*/ </th:block> /*/-->
												
												<!--/*/
												<th:block th:if="${not series.perforated}">
													<span th:text="#{t_no}">No</span> <i class="glyphicon glyphicon-remove"></i>
												</th:block>
												/*/-->
											</dd>
										
										<!--/*/ <th:block th:if="${not #strings.isEmpty(michelNumbers) or series.michel.price != null}"> /*/-->
											<dt th:text="#{t_michel}">
												Michel
											</dt>
											<dd id="michel_catalog_info"
												th:with="showNumbers=${not #strings.isEmpty(michelNumbers)},showPrice=${series.michel.price != null}">
												<span th:if="${showNumbers}" th:text="|#${michelNumbers}|" th:remove="tag">
													#101-104
												</span>
												<span th:if="${showPrice}"
													  th:with="showBrackets=${showNumbers and showPrice}"
													  th:text="${showBrackets ? '(' : ''} + ${series.michel.formattedPrice} + ' EUR' +${showBrackets ? ')' : ''}"
													  th:remove="tag">
													(10 EUR)
												</span>
											</dd>
										<!--/*/ </th:block> /*/-->
										
										<!--/*/ <th:block th:if="${not #strings.isEmpty(scottNumbers) or series.scott.price != null}"> /*/-->
											<dt th:text="#{t_scott}">
												Scott
											</dt>
											<dd id="scott_catalog_info"
												th:with="showNumbers=${not #strings.isEmpty(scottNumbers)},showPrice=${series.scott.price != null}">
												<span th:if="${showNumbers}" th:text="|#${scottNumbers}|" th:remove="tag"></span>
												<span th:if="${showPrice}"
													  th:with="price=${#numbers.formatDecimal(series.scott.price, 1, 1)},showBrackets=${showNumbers and showPrice}"
													  th:text="${showBrackets ? '(' : ''} + ${series.scott.formattedPrice} + ' USD' + ${showBrackets ? ')' : ''}"
													  th:remove="tag">
													12 USD
												</span>
											</dd>
										<!--/*/ </th:block> /*/-->
										
										<!--/*/ <th:block th:if="${not #strings.isEmpty(yvertNumbers) or series.yvert.price != null}"> /*/-->
											<dt th:text="#{t_yvert}">
												Yvert
											</dt>
											<dd id="yvert_catalog_info"
												th:with="showNumbers=${not #strings.isEmpty(yvertNumbers)},showPrice=${series.yvert.price != null}">
												<span th:if="${showNumbers}" th:text="|#${yvertNumbers}|" th:remove="tag">
													#13, 17, 20
												</span>
												<span th:if="${showPrice}"
													  th:with="showBrackets=${showNumbers and showPrice}"
													  th:text="${showBrackets ? '(' : ''} + ${series.yvert.formattedPrice} + ' EUR' + ${showBrackets ? ')' : ''}"
													  th:remove="tag">
													(7 EUR)
												</span>
											</dd>
										<!--/*/ </th:block> /*/-->
										
										<!--/*/ <th:block th:if="${not #strings.isEmpty(gibbonsNumbers) or series.gibbons.price != null}"> /*/-->
											<dt th:text="#{t_sg}">
												Gibbons
											</dt>
											<dd id="gibbons_catalog_info"
												th:with="showNumbers=${not #strings.isEmpty(gibbonsNumbers)},showPrice=${series.gibbons.price != null}">
												<span th:if="${showNumbers}" th:text="|#${gibbonsNumbers}|" th:remove="tag">
													#77, 79-83
												</span>
												<span th:if="${showPrice}"
													  th:with="showBrackets=${showNumbers and showPrice}"
													  th:text="${showBrackets ? '(' : ''} + ${series.gibbons.formattedPrice} + ' GBP' + ${showBrackets ? ')' : ''}"
													  th:remove="tag">
												</span>
											</dd>
										<!--/*/ </th:block> /*/-->
										
										<!--/*/ <th:block th:if="${not #strings.isEmpty(solovyovNumbers) or series.solovyov.price != null}"> /*/-->
											<dt th:text="#{t_solovyov}">
												Solovyov
											</dt>
											<dd id="solovyov_catalog_info"
												th:with="showNumbers=${not #strings.isEmpty(solovyovNumbers)},showPrice=${series.solovyov.price != null}">
												<span th:if="${showNumbers}" th:text="|#${solovyovNumbers}|" th:remove="tag">
													#90, 93-95 (90 RUB)
												</span>
												<span th:if="${showPrice}"
													  th:with="showBrackets=${showNumbers and showPrice}"
													  th:text="${showBrackets ? '(' : ''} + ${series.solovyov.formattedPrice} + ' RUB' + ${showBrackets ? ')' : ''}"
													  th:remove="tag">
												</span>
											</dd>
										<!--/*/ </th:block> /*/-->
										
										<!--/*/ <th:block th:if="${not #strings.isEmpty(zagorskiNumbers) or series.zagorski.price != null}"> /*/-->
											<dt th:text="#{t_zagorski}">
												Zagorski
											</dt>
											<dd id="zagorski_catalog_info"
												th:with="showNumbers=${not #strings.isEmpty(zagorskiNumbers)},showPrice=${series.zagorski.price != null}">
												<span th:if="${showNumbers}" th:text="|#${zagorskiNumbers}|" th:remove="tag">
													#102, 111-113 (100 RUB)
												</span>
												<span th:if="${showPrice}"
													  th:with="showBrackets=${showNumbers and showPrice}"
													  th:text="${showBrackets ? '(' : ''} + ${series.zagorski.formattedPrice} + ' RUB' + ${showBrackets ? ')' : ''}"
													  th:remove="tag">
												</span>
											</dd>
										<!--/*/ </th:block> /*/-->
										
										<!--/*/ <th:block th:if="${importInfo != null}"> /*/-->
											<dt th:text="#{t_imported_from}">
												Imported from
											</dt>
											<dd id="import-info">
												<a id="import-request-link"
													href="./import/info.html"
													th:href="@{${REQUEST_IMPORT_PAGE}(id=${importInfo.requestId})}"
													th:text="${#uris.unescapePath(importInfo.url)}">
													http://example.com/my-first-series.html
												</a>
											</dd>
										<!--/*/ </th:block> /*/-->
										
										<!--/*/ <th:block th:if="${series.comment != null and #authorization.expression('hasAuthority(''ADD_COMMENTS_TO_SERIES'')')}"> /*/-->
											<dt th:text="#{t_comment}">
												Comment
											</dt>
											<dd id="comment" th:utext="${#strings.replace(#strings.escapeXml(series.comment), T(java.lang.System).getProperty('line.separator'), '&lt;br /&gt;')}">
												My favorite series.
											</dd>
										<!--/*/ </th:block> /*/-->
									</dl>
								</div>
							</div>
							<div id="similar-series" class="row" th:if="${not #lists.isEmpty(similarSeries)}">
								<div class="col-sm-10 col-sm-offset-2">
									<h5 class="text-center" th:text="#{t_similar_series}">
										Similar series
									</h5>
									<ul th:remove="all-but-first">
										<li th:each="series : ${similarSeries}">
											<a href="../series/info.html" th:href="@{${INFO_SERIES_PAGE}(id=${series.id})}">
												<span th:remove="tag" th:if="${series.country != null}" th:text="|${series.country}, |">Italy, </span>
												<span th:remove="tag" th:if="${series.year != null}" th:text="|${series.year}, |">1999, </span>
												<span th:remove="tag" th:text="|${series.quantity}&nbsp;${series.quantity != 1 ? '__#{t_stamps}__' : '__#{t_stamp}__'}|">7&nbsp;stamps</span>
												<span th:remove="tag" th:if="${not series.perforated}" th:text="|(#{t_wo_perforation_short})|">(without perforation)</span>
											</a>
										</li>
										<li><a href="../series/info.html">Italy, 4&nbsp;stamps</a></li>
										<li><a href="../series/info.html">12&nbsp;stamps</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4">
							
							<div class="row">
								<div class="col-sm-12" sec:authorize="hasAuthority('UPDATE_COLLECTION')">
									<form id="add-series-form" method="post" action="../collection/info.html"
										th:action="@{${INFO_SERIES_PAGE}(id=${series.id})}"
										th:object="${addToCollectionForm}">

										<p id="series-status-msg" th:unless="${#maps.isEmpty(seriesInstances)}" th:text="|#{t_series_in_collection}:|">
											You already have this series. Add another one instance:
										</p>
										
										<!--/*/
										<p id="series-status-msg" th:if="${#maps.isEmpty(seriesInstances)}" th:text="|#{t_series_not_in_collection}:|">
											You don't have this series. Add one instance:
										</p>
										/*/-->
										
										<p id="number-of-stamps-block" th:if="${series.quantity != 1}">
											<span th:text="#{t_i_have}" th:remove="tag">I have</span>
											<input id="number-of-stamps"
												type="number"
												class="number-input"
												required="required"
												min="1"
												max="7"
												value="7"
												th:min="${T(ru.mystamps.web.feature.series.SeriesValidation).MIN_STAMPS_IN_SERIES}"
												th:max="${series.quantity}"
												th:field="*{numberOfStamps}"
												/>
											<span th:text="#{t_out_of_n_stamps(${series.quantity})}" th:remove="tag">out of 7 stamps</span>
										</p>
										<!--/*/
										<p th:if="${#fields.hasErrors('numberOfStamps')}"
											th:classappend="${#fields.hasErrors('numberOfStamps') ? 'has-error' : ''}">
											<span id="number-of-stamps.errors"
												class="help-block"
												th:each="error : ${#fields.errors('numberOfStamps')}"
												th:text="${error}"></span>
										</p>
										/*/-->
										<p th:with="price_msg=#{t_price},paidUser=${#authorization.expression('hasAuthority(''ADD_SERIES_PRICE'')')}"
											th:attrappend="title=${paidUser ? null : '__#{t_only_for_paid_users}__'}">
											
											<span th:text="#{t_i_bought_for}" th:remove="tag">I bought for</span>
											<input id="paid-price"
												type="text"
												size="5"
												placeholder="price"
												th:placeholder="${#strings.unCapitalize(price_msg)}"
												th:field="*{price}"
												th:disabled="${paidUser ? null : 'disabled'}"
												/>
											<select id="paid-currency"
												th:field="*{currency}"
												th:disabled="${paidUser ? null : 'disabled'}">
												<option value=""></option>
												<option value="USD">USD</option>
												<option value="EUR">EUR</option>
												<option value="RUB">RUB</option>
												<option value="CZK">CZK</option>
											</select>
										</p>
										<!--/*/
										<p th:if="${#fields.hasErrors('price') or #fields.hasErrors('currency')}" th:classappend="has-error">
											<span id="paid-price.errors"
												class="help-block"
												th:each="error : ${#fields.errors('price')}"
												th:text="${error}"></span>
											<span id="paid-currency.errors"
												class="help-block"
												th:each="error : ${#fields.errors('currency')}"
												th:text="${error}"></span>
										</p>
										/*/-->
										<p>
											<input type="hidden" name="action" value="ADD" />
											<input type="hidden" name="seriesId" value="1" th:value="${series.id}" />
											<input type="hidden" name="numberOfStamps" value="1" th:if="${series.quantity == 1}" />
											<input type="submit" class="btn btn-success" value="Add to collection" th:value="#{t_add_to_collection}" />
										</p>
									</form>
								</div>
								
								<div class="col-sm-12" th:if="${not #maps.isEmpty(seriesInstances)}" sec:authorize="hasAuthority('UPDATE_COLLECTION')">
									<!--/*/
									<th:block th:each="entry : ${seriesInstances}" th:with="instanceId=${entry.key},numberOfStamps=${entry.value}">
									/*/-->
										<form class="remove-series-form" method="post" action="../collection/info.html" th:action="@{${INFO_SERIES_PAGE}(id=${series.id})}">
											<input type="hidden" name="id" th:value="${instanceId}" />
											<input type="hidden" name="action" value="REMOVE" />
											<p>
												<input type="submit" class="btn btn-xs btn-danger" value="Remove from collection" th:value="#{t_remove_from_collection}" />
												<span class="label label-default"
													th:if="${series.quantity != numberOfStamps}"
													th:text="#{t_m_out_of_n(${numberOfStamps}, ${series.quantity})}">
													3 out of 7
												</span>
											</p>
										</form>
									<!--/*/
									</th:block>
									/*/-->
									<!--/*-->
									<form class="remove-series-form" method="post" action="../collection/info.html">
										<input type="hidden" name="id" value="1" />
										<input type="hidden" name="action" value="REMOVE" />
										<p>
											<input type="submit" class="btn btn-xs btn-danger" value="Remove from collection" />
										</p>
									</form>
									<!--*/-->
								</div>
								
								<!--/*/
								<div class="col-sm-12" sec:authorize="isAnonymous()">
									<p th:utext="#{t_need_authentication_to_add_series_to_collection(@{${REGISTRATION_PAGE}}, @{${AUTHENTICATION_PAGE}})}">
										In order to add this series to your collection you should <a href="../account/register.html">register</a>
										or <a href="../account/auth.html">pass authentication</a>.
									</p>
								</div>
								/*/-->
							</div>
							
							<div class="row" th:if="${not #lists.isEmpty(purchasesAndSales)}" sec:authorize="hasAuthority('VIEW_SERIES_SALES')">
								<div class="col-sm-12">
									<h5 th:text="#{t_who_selling_series}">Who was selling/buying this series</h5>
									<ul th:remove="all-but-first">
										<li id="series-sale-1-info"
											th:id="|series-sale-${iter.count}-info|"
											th:each="transaction,iter : ${purchasesAndSales}"
											th:with="firstPrice=${#numbers.formatDecimal(transaction.firstPrice, 0, 'DEFAULT', 2, 'DEFAULT') + '&nbsp;' + transaction.firstCurrency},
														 optionalSecondPrice=${transaction.secondPrice != null ? ('&nbsp;' + '(' + #numbers.formatDecimal(transaction.secondPrice, 0, 'DEFAULT', 2, 'DEFAULT') + '&nbsp;' + transaction.secondCurrency + ')') : ''}">
											<!--/*/
											<span th:if="${transaction.date != null}" th:remove="tag" th:text="${#dates.format(transaction.date, 'dd.MM.yyyy')}"></span>
											/*/-->
											<a href="http://example.com/james-alan-hetfield"
												id="series-sale-1-seller"
												rel="nofollow"
												th:id="|series-sale-${iter.count}-seller|"
												th:remove="${transaction.sellerUrl == null} ? tag"
												th:href="${transaction.sellerUrl}"
												th:text="${transaction.sellerName}">James Alan Hetfield</a>
											<span th:if="${transaction.buyerName == null}" th:remove="tag" th:text="#{t_was_selling_for}">was selling for</span>
											<!--/*/
											<th:block th:if="${transaction.buyerName != null}">
												<span th:text="#{t_sold_to}" th:remove="tag">sold to</span>
												<a href="http://example.com/eicca-toppinen" rel="nofollow" th:remove="${transaction.buyerUrl == null} ? tag" th:href="${transaction.buyerUrl}" th:text="${transaction.buyerName}">Eicca Toppinen</a>
												<span th:text="#{t_sold_for}" th:remove="tag">for</span>
											</th:block>
											/*/-->
											<a href="http://example.com/james-alan-hetfield/selling-stamps"
												id="series-sale-1-transaction"
												rel="nofollow"
												th:id="|series-sale-${iter.count}-transaction|"
												th:remove="${transaction.transactionUrl == null} ? tag"
												th:href="${transaction.transactionUrl}"
												th:text="${firstPrice + optionalSecondPrice}">100 USD</a>
										</li>
										<li id="series-sale-2-info">
											<a href="http://example.com/james-alan-hetfield" id="series-sale-2-seller" rel="nofollow">James Alan Hetfield</a> was selling for <a href="http://example.com/james-alan-hetfield/selling-stamps" id="series-sale-2-transaction" rel="nofollow">100 USD (650 RUB)</a>
										</li>
										<li id="series-sale-3-info">
											02.02.2002 <a href="http://example.com/tommy-lee-jones" id="series-sale-3-seller" rel="nofollow">Tommy Lee Jones</a> was selling for <a href="http://example.com/tommy-lee-jones/selling-stamps" id="series-sale-3-transaction" rel="nofollow">200 USD</a>
										</li>
										<li id="series-sale-4-info">
											02.02.2002 <a href="http://example.com/tommy-lee-jones" id="series-sale-4-seller" rel="nofollow">Tommy Lee Jones</a> was selling for <a href="http://example.com/tommy-lee-jones/selling-stamps" id="series-sale-4-transaction" rel="nofollow">200 USD (1300 RUB)</a>
										</li>
										<li id="series-sale-5-info">
											03.03.2003 <a href="http://example.com/eicca-toppinen" id="series-sale-5-seller" rel="nofollow">Eicca Toppinen</a> sold to <a href="http://example.com/kurt-cobain" rel="nofollow">Kurt Cobain</a> for <a href="http://example.com/eicca-toppinen/selling-stamps" id="series-sale-5-transaction" rel="nofollow">300 USD</a>
										</li>
										<li id="series-sale-6-info">
											03.03.2003 <a href="http://example.com/eicca-toppinen" id="series-sale-6-seller" rel="nofollow">Eicca Toppinen</a> sold to Michael Jackson for <a href="http://example.com/eicca-toppinen/selling-stamps" id="series-sale-6-transaction" rel="nofollow">300 USD (1560 RUB)</a>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="row" sec:authorize="hasAuthority('ADD_SERIES_SALES')">
								<div class="col-sm-12">
									<h5 th:text="#{t_add_info_who_selling_series}">Add info about selling/buying this series</h5>
									<form id="add-series-sales-form"
										method="post"
										class="form-horizontal"
										action="info.html"
										th:action="@{${ADD_SERIES_ASK_PAGE}(id=${series.id})}"
										th:object="${addSeriesSalesForm}">
										
										<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('date') ? 'has-error' : ''}">
											<label for="date" class="control-label col-sm-3" th:text="#{t_date}">
												Date
											</label>
											<div class="col-sm-4">
												<input type="text" id="date" class="form-control" th:field="*{date}" th:placeholder="#{t_dd_mm_yyyy}" placeholder="dd.mm.yyyy" />
												<!--/*/
												<span id="date.errors" class="help-block" th:if="${#fields.hasErrors('date')}" th:each="error : ${#fields.errors('date')}" th:text="${error}"></span>
												/*/-->
											</div>
											<small>
												<a tabindex="-1"
													class="link-vcenter"
													href="javascript:populateTransactionDateWithTodayDate(); void(0);" th:text="#{t_today}">
													Today
												</a>
											</small>
										</div>
										
										<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('sellerId') ? 'has-error' : ''}">
											<label for="seller" class="control-label col-sm-3">
												<span th:remove="tag" th:text="#{t_seller}">
													Seller
												</span>
												<span class="required_field">*</span>
											</label>
											<div class="col-sm-6">
												<select id="seller" class="form-control" required="required" th:field="*{sellerId}">
													<option value="" th:text="#{t_not_chosen_masculine}">Not chosen</option>
													<!--/*/
													<th:block th:each="item : ${sellers}">
														<optgroup th:if="${not #lists.isEmpty(item.children)}" th:label="${item.name}">
															<option th:each="seller : ${item.children}"
																th:value="${seller.value}"
																th:text="${seller.name}"
																th:selected="${addSeriesSalesForm.sellerId != seller.value}">
															</option>
														</optgroup>
														<option th:if="${#lists.isEmpty(item.children)}"
															th:value="${item.value}"
															th:text="${item.name}"
															th:selected="${addSeriesSalesForm.sellerId != item.value}">
														</option>
													</th:block>
													/*/-->
													<!--/*-->
													<optgroup label="Musicians">
														<option value="3">Eicca Toppinen</option>
														<option value="1">James Alan Hetfield</option>
													</optgroup>
													<option value="2">Tommy Lee Jones</option>
													<!--*/-->
												</select>
												<small sec:authorize="hasAuthority('ADD_PARTICIPANT')">
													<span class="hint-block">
														<a tabindex="-1"
															href="../participant/add.html?seller=true"
															th:href="@{${ADD_PARTICIPANT_PAGE}(seller=true)}"
															th:text="#{t_add_new_seller}">
															Add a new seller
														</a>
													</span>
												</small>
												<!--/*/
												<span id="seller.errors" class="help-block" th:if="${#fields.hasErrors('sellerId')}" th:each="error : ${#fields.errors('sellerId')}" th:text="${error}"></span>
												/*/-->
											</div>
										</div>
										
										<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('url') ? 'has-error' : ''}">
											<label for="url" class="control-label col-sm-3" th:text="#{t_url}">
												URL
											</label>
											<div class="col-sm-6">
												<input type="url" id="url" class="form-control" th:field="*{url}" />
												<!--/*/
												<span id="url.errors" class="help-block" th:if="${#fields.hasErrors('url')}" th:each="error : ${#fields.errors('url')}" th:text="${error}"></span>
												/*/-->
											</div>
										</div>
										
										<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('price') or #fields.hasErrors('currency') ? 'has-error' : ''}">
											<label for="price" class="control-label col-sm-3">
												<span th:remove="tag" th:text="#{t_price}">
													Price
												</span>
												<span class="required_field">*</span>
											</label>
											<div class="col-sm-6">
												<div class="row">
													<div class="col-xs-6">
														<input type="text" id="price" class="form-control" size="5" required="required" th:field="*{price}" />
													</div>
													<div class="col-xs-4 no-padding">
														<select id="currency" class="form-control" required="required" th:field="*{currency}">
															<option value=""></option>
															<option value="USD">USD</option>
															<option value="EUR">EUR</option>
															<option value="GBP">GBP</option>
															<option value="RUB" selected="selected">RUB</option>
															<option value="CZK">CZK</option>
														</select>
													</div>
												</div>
												<!--/*/
												<span id="price.errors" class="help-block" th:if="${#fields.hasErrors('price')}" th:each="error : ${#fields.errors('price')}" th:text="${error}"></span>
												<span id="currency.errors" class="help-block" th:if="${#fields.hasErrors('currency')}" th:each="error : ${#fields.errors('currency')}" th:text="${error}"></span>
												/*/-->
											</div>
										</div>
										
										<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('altPrice') or #fields.hasErrors('altCurrency') ? 'has-error' : ''}">
											<label for="alt-price" class="control-label col-sm-3" th:text="#{t_alternative_price}">
												Alternative price
											</label>
											<div class="col-sm-6">
												<div class="row">
													<div class="col-xs-6">
														<input type="text" id="alt-price" class="form-control" size="5" th:field="*{altPrice}" />
													</div>
													<div class="col-xs-4 no-padding">
														<select id="alt-currency" class="form-control" th:field="*{altCurrency}">
															<option value=""></option>
															<option value="USD">USD</option>
															<option value="EUR">EUR</option>
															<option value="GBP">GBP</option>
															<option value="RUB">RUB</option>
															<option value="CZK">CZK</option>
														</select>
													</div>
												</div>
												<!--/*/
												<span id="alt-price.errors" class="help-block" th:if="${#fields.hasErrors('altPrice')}" th:each="error : ${#fields.errors('altPrice')}" th:text="${error}"></span>
												<span id="alt-currency.errors" class="help-block" th:if="${#fields.hasErrors('altCurrency')}" th:each="error : ${#fields.errors('altCurrency')}" th:text="${error}"></span>
												/*/-->
											</div>
										</div>
										
										<div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('buyerId') ? 'has-error' : ''}">
											<label for="buyer" class="control-label col-sm-3" th:text="#{t_buyer}">
												Buyer
											</label>
											<div class="col-sm-6">
												<select id="buyer" class="form-control" th:field="*{buyerId}">
													<option value="" th:text="#{t_not_chosen_masculine}">Not chosen</option>
													<!--/*/
														<th:block th:each="item : ${buyers}">
															<optgroup th:if="${not #lists.isEmpty(item.children)}" th:label="${item.name}">
																<option th:each="buyer : ${item.children}"
																	th:value="${buyer.value}"
																	th:text="${buyer.name}"
																	th:selected="${addSeriesSalesForm.buyerId != buyer.value}">
																</option>
															</optgroup>
															<option th:if="${#lists.isEmpty(item.children)}"
																th:value="${item.value}"
																th:text="${item.name}"
																th:selected="${addSeriesSalesForm.buyerId != item.value}">
															</option>
														</th:block>
													/*/-->
													<!--/*-->
													<optgroup label="Musicians">
														<option value="1">Kurt Cobain</option>
														<option value="2">Michael Jackson</option>
													</optgroup>
													<!--*/-->
												</select>
												<small sec:authorize="hasAuthority('ADD_PARTICIPANT')">
													<span class="hint-block">
														<a tabindex="-1"
															href="../participant/add.html?buyer=true"
															th:href="@{${ADD_PARTICIPANT_PAGE}(buyer=true)}"
															th:text="#{t_add_new_buyer}">
															Add a new buyer
														</a>
													</span>
												</small>
												<!--/*/
												<span id="buyer.errors" class="help-block" th:if="${#fields.hasErrors('buyerId')}" th:each="error : ${#fields.errors('buyerId')}" th:text="${error}"></span>
												/*/-->
											</div>
										</div>
										
										<div class="form-group form-group-sm">
											<div class="col-sm-offset-3 col-sm-4">
												<input type="submit" class="btn btn-primary" value="Add info" th:value="#{t_add_info}" />
											</div>
										</div>
										
									</form>
								</div>
							</div>

							<!--/* @todo #995 Series sale import: add support for new sellers */-->
							<!--/* @todo #1057 Series sale import form: show a message when JavaScript is disabled */-->
							<div id="importSeriesSaleForm" sec:authorize="hasAuthority('IMPORT_SERIES_SALES')"></div>
							
						</div>
						
					</div>
					
				</div>
			</div>
			
			<div class="row">
				<footer class="col-sm-12 text-right">
					<i class="glyphicon glyphicon-envelope"></i>
					<a href="mailto:slava.semushin@gmail.com" title="Write e-mail" th:href="|mailto:#{t_site_author_email}|" th:title="#{t_write_email}" th:text="#{t_site_author_name}">Slava Semushin</a>, 2009-2020
				</footer>
			</div>
		</div>
		
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="http://yandex.st/jquery/1.9.1/jquery.min.js" th:src="${JQUERY_JS}"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" th:src="${BOOTSTRAP_JS}"></script>
		
		<!--/*/
		<th:block sec:authorize="hasAuthority('VIEW_SERIES_SALES')">
		/*/-->
		<script src="../../../../javascript/DateUtils.js" th:src="${DATE_UTILS_JS}"></script>
		<script src="../../../../javascript/series/info.js" th:src="${SERIES_INFO_JS}"></script>
		<!--/*/
		</th:block>
		/*/-->

		<!--/*
			NOTE: It won't work properly, if user can import a sale but can't view it because
			SeriesSaleImportForm uses DateUtils.formatDateToDdMmYyyy() from DateUtils.js file.
		*/-->
		<!--/*/
		<th:block sec:authorize="hasAuthority('IMPORT_SERIES_SALES')">
		/*/-->
		<script src="https://unpkg.com/react@16.8.6/umd/react.development.js" th:src="${REACT_JS}"></script>
		<script src="https://unpkg.com/react-dom@16.8.6/umd/react-dom.development.js" th:src="${REACT_DOM_JS}"></script>
		<script src="../../../../../../target/classes/js/components/SeriesSaleImportForm.js" th:src="${SALE_IMPORT_FORM_JS}"></script>
		<script th:inline="javascript">
			/*[+
			var props = {
				'url': [[ '__@{${IMPORT_SERIES_SALES}}__' ]],
				'csrfHeaderName': [[ ${_csrf.headerName} ]],
				'csrfTokenValue': [[ ${_csrf.token} ]],
				'l10n': {
					't_import_info_who_selling_series': [[ #{t_import_info_who_selling_series} ]],
					't_could_not_import_info':          [[ #{t_could_not_import_info} ]],
					't_url':                            [[ #{t_url} ]],
					't_import_info':                    [[ #{t_import_info} ]]
				}
			};
			+]*/
			
			/*[- */
			var props = { 'l10n': {} };
			var responseCount = 0;
			window.fetch = function() {
				var possibleOutcomes = [ 'failOnForm', 'failOnField', 'success' ];
				var outcome = possibleOutcomes[responseCount % possibleOutcomes.length];
				var stubResponse;
				
				if (outcome === 'failOnForm') {
					stubResponse = new Response(null, { status: 500, statusText: 'Fake Server Error' });
				
				} else if (outcome === 'failOnField') {
					var body = new Blob(
						[ '{ "fieldErrors": { "url": [ "Invalid value" ] } }' ],
						{ type : 'application/json' }
					);
					stubResponse = new Response(body, { status: 400 });
				
				} else if (outcome === 'success') {
					var body = new Blob(
						[ '{ "sellerId": 3, "price": 3.5, "currency" : "USD" }' ],
						{ type : 'application/json' }
					);
					stubResponse = new Response(body, { status: 200 });
				}
				
				responseCount++;
				
				return new Promise(function delayExecution(resolve) {
					setTimeout(resolve, 500 /* 0.5 second */);
				
				}).then(function returnResponse() {
					return Promise.resolve(stubResponse);
				});
			};
			/* -]*/
			
			var rootElement = React.createElement(SeriesSaleImportForm, props);
			var destNode = document.getElementById('importSeriesSaleForm');
			ReactDOM.render(rootElement, destNode);
		</script>
		<!--/*/
		</th:block>
		/*/-->
	</body>
</html>
