<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex" />
		<title th:text="|MyStamps: #{t_create_category}|">MyStamps: add category</title>
		<link rel="shortcut icon" type="image/x-icon" href="../../../favicon.ico" th:href="${FAVICON_ICO}" />
		<link rel="stylesheet" href="http://yandex.st/bootstrap/2.3.1/css/bootstrap.min.css" th:href="${BOOTSTRAP_CSS}" />
		<link rel="stylesheet" href="http://yandex.st/bootstrap/2.3.1/css/bootstrap-responsive.min.css" th:href="${BOOTSTRAP_RESPONSIVE_CSS}" />
		<link rel="stylesheet" href="../../static/styles/main.css" th:href="${MAIN_CSS}" />
	</head>
	<body lang="en" th:lang="${#locale.language == 'ru' ? 'ru' : 'en'}">
		<div class="row-fluid" id="header">
			<div id="logo" class="span10">
				<a href="../site/index.html" th:href="'/'" th:text="#{t_my_stamps}">My stamps</a>
			</div>
			
			<div id="user_bar" class="span2">
				<ul class="unstyled">
					<li sec:authorize="isAuthenticated()">
						<i class="icon-user"></i>
						<a sec:authentication="principal.user.name"
							href="../collection/info.html"
							title="Open my collection"
							th:title="#{t_open_my_collection}"
							th:href="@{${INFO_COLLECTION_PAGE}(id=${#authentication.principal.user.collection.id},slug=${#authentication.principal.user.collection.slug})}">
							John Doe
						</a>
					</li>
					<!--/*/
					<li sec:authorize="isAnonymous()">
						<a href="../account/auth.html" th:href="@{${AUTHENTICATION_PAGE}}" th:text="#{t_enter}">Sign in</a>
					</li>
					/*/-->
					<li sec:authorize="isAuthenticated()">
						<form id="LogoutForm" method="get" action="../site/index.html" class="no-margin" th:method="post" th:action="@{${LOGOUT_PAGE}}">
							<i class="icon-share"></i>&nbsp;<input type="submit" value="Sign out" class="btn btn-link no-padding" th:value="#{t_logout}" />
						</form>
					</li>
					<!--/*/
					<li sec:authorize="isAnonymous()">
						<a href="../account/register.html" th:href="@{${REGISTRATION_PAGE}}" th:text="#{t_register}">Register</a>
					</li>
					/*/-->
				</ul>
			</div>
		</div>
		<div class="row-fluid">
			<div id="content" class="span12">
				<h3 th:text="#{t_create_category_ucfirst}">
					Add category
				</h3>
				
				<div class="hint text-center">
					<small th:with="redAsterisk='&lt;span class=&quot;required_field&quot;&gt;*&lt;/span&gt;'">
						<span class="hint_item" th:utext="#{t_required_fields_legend(${redAsterisk})}">
							All fields marked by asterisk (<span class="required_field">*</span>) must be filled.
						</span>
					</small>
				</div>
				
				<div class="span6 offset3">
					<form method="post" class="form-horizontal" action="info.html" th:action="@{${ADD_CATEGORY_PAGE}}" th:object="${addCategoryForm}">
						
						<div class="control-group" th:classappend="${#fields.hasErrors('name') ? 'error' : ''}">
							<label path="name" class="control-label">
								<span class="field-label" th:text="#{t_category_on_english}">
									Category (on English)
								</span>
								<span id="name.required" class="required_field">*</span>
							</label>
							<div class="controls">
								<input type="text" required="required" th:field="*{name}" />
								<span id="name.errors" class="help-inline" th:if="${#fields.hasErrors('name')}" th:each="error : ${#fields.errors('name')}" th:text="${error}"></span>
							</div>
						</div>
						
						<div class="control-group" th:classappend="${#fields.hasErrors('nameRu') ? 'error' : ''}">
							<label path="nameRu" class="control-label">
								<span class="field-label" th:text="#{t_category_on_russian}">
									Category (on Russian)
								</span>
								<span id="nameRu.required" class="required_field">*</span>
							</label>
							<div class="controls">
								<input type="text" required="required" th:field="*{nameRu}" />
								<span id="nameRu.errors" class="help-inline" th:if="${#fields.hasErrors('nameRu')}" th:each="error : ${#fields.errors('nameRu')}" th:text="${error}"></span>
							</div>
						</div>
						
						<div class="form-actions">
							<input type="submit" class="btn btn-primary" value="Add" th:value="#{t_add}" />
						</div>
						
					</form>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<footer class="text-right">
				<i class="icon-envelope"></i>
				<a href="mailto:slava.semushin@gmail.com" title="Write e-mail" th:href="|mailto:#{t_site_author_email}|" th:title="#{t_write_email}" th:text="#{t_site_author_name}">Slava Semushin</a>, 2009-2015
			</footer>
		</div>
		
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="http://yandex.st/bootstrap/2.3.1/js/bootstrap.min.js" th:src="${BOOTSTRAP_JS}"></script>
	</body>
</html>
