<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language == 'ru' ? 'ru' : 'en'}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="robots" content="noindex" />
		<title th:text="|#{t_my_stamps}: #{t_import_request}|">My stamps: import request</title>
		<link rel="shortcut icon" type="image/x-icon" href="../../../../favicon.ico" th:href="${FAVICON_ICO}" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="${BOOTSTRAP_CSS}" />
		<link rel="stylesheet" href="https://cdn.rawgit.com/usrz/bootstrap-languages/3ac2a3d2b27ac43a471cd99e79d378a03b2c6b5f/languages.min.css" th:href="${BOOTSTRAP_LANGUAGE}" />
		<link rel="stylesheet" href="../../../static/styles/main.css" th:href="${MAIN_CSS}" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="row" id="header">
				<div id="logo" class="col-sm-9 vcenter">
					<a href="../../site/index.html" th:href="'/'" th:text="#{t_my_stamps}">My stamps</a>
				</div><!--
				
				--><div class="col-sm-1 vcenter"
						th:with="lang=${#locale.language == 'en' ? 'ru' : 'en'},langName=${#locale.language == 'en' ? 'Русский' : 'English'}">
					<span class="lang-xs" lang="ru"
						th:lang="${lang}"></span>
					<a href="javascript:void(0)" hreflang="ru"
						th:href="|?lang=${lang}|" th:hreflang="${lang}" th:text="${langName}">Русский</a>
				</div><!--
				
				--><div id="user_bar" class="col-sm-2 vcenter">
					<ul class="list-unstyled">
						<li sec:authorize="isAuthenticated()">
							<i class="glyphicon glyphicon-user"></i>
							<a sec:authentication="principal.userName"
								href="../../collection/info.html"
								title="Open my collection"
								th:title="#{t_open_my_collection}"
								th:href="@{${INFO_COLLECTION_PAGE}(slug=${#authentication.principal.userCollectionSlug})}">
								John Doe
							</a>
						</li>
						<!--/*/
						<li sec:authorize="isAnonymous()">
							<a href="../../account/auth.html" th:href="@{${AUTHENTICATION_PAGE}}" th:text="#{t_enter}">Sign in</a>
						</li>
						/*/-->
						<li sec:authorize="isAuthenticated()">
							<form id="logout-form" method="get" action="../../site/index.html" class="no-margin" th:method="post" th:action="@{${LOGOUT_PAGE}}">
								<i class="glyphicon glyphicon-share"></i>&nbsp;<input type="submit" value="Sign out" class="btn btn-link no-padding" th:value="#{t_logout}" />
							</form>
						</li>
						<!--/*/
						<li sec:authorize="isAnonymous()">
							<a href="../../account/register.html" th:href="@{${REGISTRATION_PAGE}}" th:text="#{t_register}">Register</a>
						</li>
						/*/-->
					</ul>
				</div>
			</div>
			<div id="content" class="row">
				<div class="col-sm-6 col-sm-offset-3" th:with="header=#{t_import_request}">
					<h3 th:text="${#strings.capitalize(header)}">
						Import request
					</h3>
					
					<dl class="dl-horizontal">
						<dt th:text="#{t_url}">
							URL
						</dt>
						<dd id="request-url" th:text="${request.url}">
							http://example.com/my-first-series.html
						</dd>
						<dt th:text="#{t_status}">
							Status
						</dt>
						<dd id="request-status" th:switch="${request.status}">
							<!--/*/
							<span class="label label-default" th:text="${request.status}" th:case=" 'Unprocessed' ">Unprocessed</span>
							<span class="label label-info" th:text="${request.status}" th:case=" 'DownloadingSucceeded' ">DownloadingSucceeded</span>
							<span class="label label-danger"  th:text="${request.status}" th:case=" 'DownloadingFailed' ">DownloadingFailed</span>
							/*/-->
							<span class="label label-info" th:text="${request.status}" th:case=" 'ParsingSucceeded' ">ParsingSucceeded</span>
							<!--/*/
							<span class="label label-danger"  th:text="${request.status}" th:case=" 'ParsingFailed' ">ParsingFailed</span>
							<span class="label label-success" th:text="${request.status}" th:case=" 'ImportSucceeded' ">ImportSucceeded</span>
							<span class="label label-warning" th:text="${request.status}" th:case="*">Unknown</span>
							/*/-->
						</dd>
					</dl>
				</div>
					
				<div class="col-sm-4 col-sm-offset-4" th:if="${showForm}">
					<h3 th:text="#{t_gathered_data}">
						Gathered data
					</h3>
					
					<div class="hint text-center">
						<small th:with="redAsterisk='&lt;span class=&quot;required_field&quot;&gt;*&lt;/span&gt;'">
							<span class="hint_item" th:utext="#{t_required_fields_legend(${redAsterisk})}">
								All fields marked by asterisk (<span class="required_field">*</span>) must be filled.
							</span>
						</small>
					</div>
					
					<form id="create-series-form"
						method="post"
						enctype="multipart/form-data"
						action="../info.html"
						th:action="@{${REQUEST_IMPORT_PAGE}(id=${id})}"
						th:object="${importSeriesForm}">
						
						<div class="table-responsive">
							<table class="table">
								
								<tr th:classappend="${#fields.hasErrors('category') ? 'has-error' : ''}">
									<th>
										<label for="category" class="control-label" th:text="#{t_category}">
											Category
										</label>
										<span class="required_field">*</span>
									</th>
									<td>
										<select id="category" name="category" class="form-control" required="required">
											<option value="" th:text="#{t_not_chosen}">Not chosen</option>
											<!--/*/
											<th:block th:each="category : ${categories}">
												<optgroup th:if="${not #lists.isEmpty(category.children)}" th:label="${category.name}">
													<option th:each="subcategory : ${category.children}"
														th:value="${subcategory.slug}"
														th:text="${subcategory.name}"
														th:selected="${importSeriesForm.category != null and importSeriesForm.category.slug == subcategory.slug}">
													</option>
												</optgroup>
												<option th:if="${#lists.isEmpty(category.children)}"
													th:value="${category.slug}"
													th:text="${category.name}"
													th:selected="${importSeriesForm.category != null and importSeriesForm.category.slug == category.slug}">
												</option>
											</th:block>
											/*/-->
											<!--/*-->
											<optgroup label="Fauna">
												<option value="prehistoric-animals">Prehistoric animals</option>
											</optgroup>
											<option value="sport" selected="selected">Sport</option>
											<!--*/-->
										</select>
										<!--/*/
										<span id="category.errors"
											class="help-block"
											th:if="${#fields.hasErrors('category')}"
											th:each="error : ${#fields.errors('category')}"
											th:text="${error}"></span>
										/*/-->
									</td>
								</tr>
								
								<tr th:if="${importSeriesForm.country != null}" th:classappend="${#fields.hasErrors('country') ? 'has-error' : ''}">
									<th>
										<label for="country" class="control-label" th:text="#{t_country}">
											Country
										</label>
									</th>
									<td>
										<select id="country" name="country" class="form-control">
											<option value="" th:text="#{t_not_chosen}">Not chosen</option>
											<!--/*/
											<option th:each="country : ${countries}"
												th:value="${country.slug}"
												th:text="${country.name}"
												th:selected="${importSeriesForm.country != null and importSeriesForm.country.slug == country.slug}">
											</option>
											/*/-->
											<!--/*-->
											<option value="russia">Russia</option>
											<option value="canada">Canada</option>
											<option value="italy" selected="selected">Italy</option>
											<!--*/-->
										</select>
										<!--/*/
										<span id="country.errors"
											class="help-block"
											th:if="${#fields.hasErrors('country')}"
											th:each="error : ${#fields.errors('country')}"
											th:text="${error}"></span>
										/*/-->
									</td>
								</tr>
								
								<tr th:classappend="${#fields.hasErrors('quantity') ? 'has-error' : ''}">
									<th>
										<label for="quantity" class="control-label" th:text="#{t_quantity}">
											Quantity
										</label>
										<span class="required_field">*</span>
									</th>
									<td>
										<input id="quantity"
											type="number"
											class="form-control"
											required="required"
											th:min="${T(ru.mystamps.web.validation.ValidationRules).MIN_STAMPS_IN_SERIES}"
											th:max="${T(ru.mystamps.web.validation.ValidationRules).MAX_STAMPS_IN_SERIES}"
											min="1"
											max="50"
											value="1"
											th:field="*{quantity}" />
										<span id="quantity.errors"
											class="help-block"
											th:if="${#fields.hasErrors('quantity')}"
											th:each="error : ${#fields.errors('quantity')}"
											th:text="${error}"></span>
									</td>
								</tr>
								
								<tr th:classappend="${#fields.hasErrors('perforated') ? 'has-error' : ''}">
									<th>
										<label for="perforated" class="control-label" th:text="#{t_perforated}">
											Perforated
										</label>
									</th>
									<td>
										<input id="perforated"
											type="checkbox"
											checked="checked"
											th:field="*{perforated}" />
										<!--/*/
										<span id="perforated.errors"
											class="help-block"
											th:if="${#fields.hasErrors('perforated')}"
											th:each="error : ${#fields.errors('perforated')}"
											th:text="${error}"></span>
										/*/-->
									</td>
								</tr>
								
								<tr th:classappend="${#fields.hasErrors('imageUrl') or #fields.hasErrors('downloadedImage') ? 'has-error' : ''}">
									<th>
										<label for="image-url" class="control-label" th:text="#{t_image_url}">
											Image URL
										</label>
										<span class="required_field">*</span>
									</th>
									<td>
										<input id="image-url"
											type="url"
											class="form-control"
											required="required"
											value="http://example.com/my-first-series.jpg"
											th:field="*{imageUrl}" />
										<!--/*/
										<span id="image-url.errors"
											class="help-block"
											th:if="${#fields.hasErrors('imageUrl')}"
											th:each="error : ${#fields.errors('imageUrl')}"
											th:text="${error}"></span>
										<span id="image-url.errors"
											class="help-block"
											th:if="${#fields.hasErrors('downloadedImage')}"
											th:each="error : ${#fields.errors('downloadedImage')}"
											th:text="${error}"></span>
										/*/-->
									</td>
								</tr>
								
								<tr th:if="${importSeriesForm.year != null}" th:classappend="${#fields.hasErrors('year') ? 'has-error' : ''}">
									<th>
										<label for="year" class="control-label" th:text="#{t_year}">
											Year
										</label>
									</th>
									<td>
										<select class="form-control" th:field="*{year}" id="year">
											<option value="" th:text="#{t_year}">Year</option>
											<!--/*/
											<option th:each="year : ${years}" th:value="${year.key}" th:text="${year.value}"></option>
											/*/-->
											<!--/*-->
											<option value="1960" selected="selected">1960</option>
											<option value="2000">2000</option>
											<option value="2010">2010</option>
											<!--*/-->
										</select>
										<!--/*/
										<span id="year.errors"
											class="help-block"
											th:if="${#fields.hasErrors('year')}"
											th:each="error : ${#fields.errors('year')}"
											th:text="${error}"></span>
										/*/-->
									</td>
								</tr>
								
								<tr>
									<td></td>
									<td>
										<input
											id="create-series-btn"
											type="submit"
											class="btn btn-primary"
											value="Import"
											th:value="#{t_import}"
											th:disabled="${request.seriesId != null}" />
									</td>
								</tr>
							</table>
						</div>
					</form>
					
				</div>
				
				<!--/*/
				<div class="col-sm-4 col-sm-offset-4" th:if="${request.seriesId != null}">
					<h3 th:text="#{t_imported_series}">
						Imported series
					</h3>
					
					<div class="text-center">
						<a th:href="@{${INFO_SERIES_PAGE}(id=${request.seriesId})}"
						   th:text="@{${PUBLIC_URL} + ${INFO_SERIES_PAGE}(id=${request.seriesId})}"></a>
					</div>
				</div>
				/*/-->
				
			</div>
			<div class="row">
				<footer class="col-sm-12 text-right">
					<i class="glyphicon glyphicon-envelope"></i>
					<a href="mailto:slava.semushin@gmail.com" title="Write e-mail" th:href="|mailto:#{t_site_author_email}|" th:title="#{t_write_email}" th:text="#{t_site_author_name}">Slava Semushin</a>, 2009-2017
				</footer>
			</div>
		</div>
		
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="http://yandex.st/jquery/1.9.1/jquery.min.js" th:src="${JQUERY_JS}"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="${BOOTSTRAP_JS}"></script>
	</body>
</html>
