# Don't send audit report during npm install
# See https://docs.npmjs.com/misc/config#audit
audit = false

# Don't check npm for updates
# See https://docs.npmjs.com/misc/config#update-notifier
update-notifier = false

# Allow only patch upgrade for dependencies installed with --save/--save-dev
# See https://docs.npmjs.com/misc/config#save-prefix
save-prefix = ~
