<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	<!-- see http://javatalks.ru/sutra67480.php#67480 -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>/WEB-INF/pages/*</url-pattern>
			<include-prelude>/WEB-INF/segments/std.jspf</include-prelude>
		</jsp-property-group>
	</jsp-config>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.htm</location>
	</error-page>
	
	<filter>
		<filter-name>MaintenanceFilter</filter-name>
		<filter-class>
			ru.mystamps.web.filter.MaintenanceFilter
		</filter-class>
		<init-param>
			<param-name>enableMaintainanceMode</param-name>
			<param-value>no</param-value>
		</init-param>
		<init-param>
			<param-name>allowedIP</param-name>
			<param-value>127.0.0.1</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>MaintenanceFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>CharsetFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/mystamps</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
</web-app>
