body {
	margin: 0;
}

#header {
	font-style: italic;
	font-size: 300%;
	background-color: #f5f5f5;
	border-bottom: dotted 1px;
	padding-left: 10px;
}

#footer {
	background-color: #f5f5f5;
	text-align: right;
	border-top: dotted 1px;
	padding-right: 10px;
}

#content {
	margin: 10px;
}

#content h3 {
	font-variant: small-caps;
	text-align: center;
}

.generic_form table {
	margin: auto;
}

.generic_form th,
.generic_form td {
	text-align: left;
}

.generic_form input[type=checkbox] {
	margin-left: 0;
}

